:root {
    --banner-bg-color: #2A3236;
    --dataset-panel-header-bg-color: #2A3236;
    --global-visited-links: #2A3236;
    --main-intro-search-nav-bg-color: #2A3236;
    --main-search-list-selected-gene: #2A3236;
}
