# OpenAPI description of the gEAR REST API (/api) and CGI scripts (/cgi).
# Generated from the code; edit alongside the handlers when routes or parameters change.
openapi: 3.0.3
info:
  title: gEAR web API and CGI endpoints
  version: '2026.09'
  description: 'HTTP endpoints of the gene Expression Analysis Resource (gEAR).


    There are two families:


    - **REST API** (`/api/...`): a Flask-RESTful app (`www/api/api.py`) served through Apache mod_wsgi. The session
    is read from the `gear_session_id` cookie.

    - **CGI scripts** (`/cgi/...`): Python scripts in `www/cgi/` run directly by Apache. They read parameters with
    `cgi.FieldStorage()`, so every parameter can be sent either in the query string (GET) or as a form body (POST,
    usually `multipart/form-data` from the frontend). The session is passed as a `session_id` parameter. Most CGIs
    return HTTP 200 even on errors and report failure in the body (for example `success: 0` with a `message`).


    Generated from the code in September 2026; see docs/developer/api_reference.md for prose notes.'
servers:
- url: https://umgear.org
  description: UMgEAR (hearing research)
- url: https://nemoanalytics.org
  description: NeMO Analytics (brain research)
- url: http://localhost
  description: Local development server
tags:
- name: Plots
  description: 'REST: plot data for dataset displays'
- name: H5AD
  description: 'REST: dataset metadata, genes and aggregations'
- name: Projection
  description: Pattern projection (projectR)
- name: Import
  description: 'REST: upload processing status and track hub import'
- name: Analysis
  description: 'REST: analysis helpers'
- name: Displays
  description: Saved dataset displays
- name: HiGlass
  description: 'REST: HiGlass gene lookup'
- name: Account/auth
  description: 'CGI: accounts, login and sessions'
- name: Datasets
  description: 'CGI: dataset information and management'
- name: Collections (layouts)
  description: 'CGI: dataset collections (called layouts in the code)'
- name: Gene lists (carts)
  description: 'CGI: gene lists (called gene carts in the code)'
- name: Analysis/workbench
  description: 'CGI: Single Cell Workbench and analyses'
- name: Uploads
  description: 'CGI: dataset uploader'
- name: Search
  description: 'CGI: search'
- name: Misc
  description: 'CGI: everything else'
paths:
  /api/analysis/plotTopGenesPCA:
    post:
      operationId: plotTopGenesPca
      tags:
      - Analysis
      summary: Save a PCA loadings plot for selected principal components.
      description: Runs scanpy.pl.pca_loadings for the requested components and saves the PNG into the figures/
        directory next to the analysis h5ad (the image is not returned). The session ID comes from the session_id
        form field, not the cookie. Called by the single-cell workbench (www/js/classes/analysis.js).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiTopPcaGenesForm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiTopPcaGenesForm'
      responses:
        '200':
          description: '{"success": 1} on success. Validation errors return success 0 ("Number of PCs must between
            2 and 5", "Missing dataset_id", "Invalid dataset_id"); load or plot errors return success -1 with the
            exception text.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - -1
                    - 0
                    - 1
                    description: 1 success, 0 validation error, -1 load/plot error.
                  message:
                    type: string
                    description: Present on errors only.
        '500':
          description: Unhandled exception (e.g. missing pcs field, non-integer PC, analysis lookup failure).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/displays/{display_id}:
    get:
      operationId: getDatasetDisplay
      tags:
      - Displays
      summary: Fetch a saved dataset display configuration.
      description: Returns the dataset_display row from geardb.get_display_by_id. Does not read the session cookie
        and performs no access check. No front-end caller was found in www/js.
      parameters:
      - name: display_id
        in: path
        required: true
        description: Display ID.
        schema:
          type: string
      responses:
        '200':
          description: Display record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Display ID.
                  dataset_id:
                    type: string
                    description: Dataset ID.
                  user_id:
                    type: integer
                    description: Owner user ID.
                  label:
                    type: string
                    description: Display label.
                  plot_type:
                    type: string
                    description: Plot type.
                  plotly_config:
                    type: object
                    additionalProperties: true
                    description: Parsed plot configuration.
        '404':
          description: Display not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Display not found
  /api/h5ad/{dataset_id}:
    get:
      operationId: getH5adInfo
      tags:
      - H5AD
      summary: Describe a dataset's observation metadata (columns, category levels, counts).
      description: Loads an AnnDataShadow (or a spatial AnnData for spatial datasets) and returns obs column names,
        categorical levels and a replicate flag. Called by apiCallsMixin.fetchH5adInfo in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      - name: analysis_id
        in: query
        required: false
        description: Analysis ID; omit to use the primary dataset.
        schema:
          type: string
      responses:
        '200':
          description: Observation metadata summary. Errors return HTTP 200 with success -1 ("No dataset found with
            that ID", "No dataset file found.", or the exception text).
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    num_obs:
                      type: integer
                      description: Number of observations.
                    obs_columns:
                      type: array
                      items:
                        type: string
                      description: obs columns, plus X_tsne_1/2, X_umap_1/2, X_pca_1/2 when present in obsm; excludes
                        replicate, BioRep, TechRep and time_point_order.
                    obs_levels:
                      type: object
                      additionalProperties:
                        type: array
                        items:
                          type: string
                      description: Categorical columns with at most 50 levels (adds "NA" if nulls exist).
                    obs_levels_truncated:
                      type: object
                      additionalProperties:
                        type: array
                        items:
                          type: string
                      description: Categorical columns with more than 50 levels.
                    has_replicates:
                      type: integer
                      enum:
                      - 0
                      - 1
                      description: 1 if a replicate, BioRep or TechRep column exists.
                - $ref: '#/components/schemas/ApiErrorResponse'
  /api/h5ad/{dataset_id}/aggregations:
    post:
      operationId: getAggregations
      tags:
      - H5AD
      summary: Count observations per category for each categorical obs column, optionally filtered.
      description: Returns per-category counts for every categorical obs column (excluding replicate and *_colors).
        Categories with zero observations are kept and "nan" is renamed "Data not available". Filters on non-categorical
        columns are ignored. Called by apiCallsMixin.fetchAggregations in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                analysis_id:
                  type: string
                  description: Analysis ID; omit for the primary dataset.
                filters:
                  $ref: '#/components/schemas/ApiObsFilters'
      responses:
        '200':
          description: 'Aggregations. Errors return HTTP 200 with success -1 ("No dataset found with that ID", "No
            dataset file found.", or the exception text; the latter two include aggregations: []).'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    aggregations:
                      type: array
                      description: One entry per categorical obs column.
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Column name.
                          count:
                            type: integer
                            description: Non-null observations in the column (after filtering).
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Category value.
                                count:
                                  type: integer
                                  description: Observations with this value.
                    total_count:
                      type: integer
                      description: Number of observations after filtering.
                - $ref: '#/components/schemas/ApiErrorResponse'
        '400':
          description: reqparse type validation failure (e.g. filters not an object).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiReqparseError'
  /api/h5ad/{dataset_id}/analyses:
    get:
      operationId: getAnalyses
      tags:
      - H5AD
      summary: List public and user-saved analyses for a dataset that have tSNE or UMAP computed.
      description: Uses AnalysisCollection.get_all_by_dataset_id and keeps analyses whose tsne_calculated or umap_calculated
        flag is 1. private is empty for anonymous users. Called by apiCallsMixin.fetchAnalyses in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      responses:
        '200':
          description: Analyses (each serialized from the Analysis object's __dict__). Returns HTTP 200 with success
            -1 "No dataset found with that ID" for an unknown dataset.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    public:
                      type: array
                      description: Public analyses with tSNE/UMAP.
                      items:
                        $ref: '#/components/schemas/ApiAnalysis'
                    private:
                      type: array
                      description: The user's saved analyses with tSNE/UMAP.
                      items:
                        $ref: '#/components/schemas/ApiAnalysis'
                - $ref: '#/components/schemas/ApiErrorResponse'
  /api/h5ad/{dataset_id}/availableDisplayTypes:
    post:
      operationId: getAvailableDisplayTypes
      tags:
      - H5AD
      summary: Determine which single-gene plot types can be drawn for a dataset.
      description: 'Returns a flat map of display type to boolean based on obs column dtypes, obsm embeddings and
        whether datasets_uploaded/{dataset_id}.svg exists. Quirk: the path dataset_id is ignored; the handler reads
        dataset_id (and session_id) from the JSON body, so the body must repeat it. The session cookie is not read.
        Called by apiCallsMixin.fetchAvailablePlotTypes in www/js/common.v2.js.'
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (ignored; the body value is used).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDisplayTypesRequest'
      responses:
        '200':
          description: 'Flat availability map (no success key). Errors return HTTP 200 with success -1: dataset
            not found, file not found, exception text, or no obs columns (unless the dataset is svg-expression with
            an uploaded SVG, in which case the map is returned).'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    scatter:
                      type: boolean
                      description: Always true.
                    tsne_static:
                      type: boolean
                    umap_static:
                      type: boolean
                    pca_static:
                      type: boolean
                    tsne/umap_dynamic:
                      type: boolean
                    bar:
                      type: boolean
                    violin:
                      type: boolean
                    line:
                      type: boolean
                      description: True if any numeric column or a time_point column exists.
                    svg:
                      type: boolean
                      description: True if an uploaded SVG exists.
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception (e.g. no JSON body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/h5ad/{dataset_id}/genes:
    get:
      operationId: getGeneSymbols
      tags:
      - H5AD
      summary: List all gene symbols in a dataset or analysis.
      description: Returns var.gene_symbol as strings (NaN filled with "None") from the dataset or the given analysis.
        Called by apiCallsMixin.fetchGeneSymbols in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      - name: analysis
        in: query
        required: false
        description: Analysis ID; omit for the primary dataset.
        schema:
          type: string
      responses:
        '200':
          description: Gene symbols. Errors return HTTP 200 with success -1 ("No dataset found with that ID", "No
            file found for this dataset", or the exception text).
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    gene_symbols:
                      type: array
                      items:
                        type: string
                      description: All gene symbols in var.
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception (e.g. var has no gene_symbol column).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/h5ad/{dataset_id}/mg_availableDisplayTypes:
    post:
      operationId: getMgAvailableDisplayTypes
      tags:
      - H5AD
      summary: Determine which multi-gene plot types can be drawn for a dataset.
      description: 'Returns a flat map of multi-gene display type to boolean. volcano needs at least 2 categorical
        obs columns, quadrant at least 3; the static embeddings depend on obsm or two numeric columns. Quirk: like
        availableDisplayTypes, dataset_id and session_id come from the JSON body and the path segment is ignored.
        Called by apiCallsMixin.fetchAvailablePlotTypes in www/js/common.v2.js.'
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (ignored; the body value is used).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDisplayTypesRequest'
      responses:
        '200':
          description: 'Flat availability map (no success key). Errors return HTTP 200 with success -1: dataset
            not found, file not found, exception text, or no categorical columns.'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    dotplot:
                      type: boolean
                    heatmap:
                      type: boolean
                    mg_violin:
                      type: boolean
                    volcano:
                      type: boolean
                    quadrant:
                      type: boolean
                    mg_pca_static:
                      type: boolean
                    mg_tsne_static:
                      type: boolean
                    mg_umap_static:
                      type: boolean
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception (e.g. no JSON body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/h5ad/{dataset_id}/orthologs:
    post:
      operationId: getOrthologs
      tags:
      - H5AD
      summary: Map gene symbols to the symbols present in a dataset, using orthology when needed.
      description: Maps each input symbol directly (case-insensitive, same organism) or via Ensembl ortholog files
        for the gene and dataset organisms, with a final direct-match fallback. Wrapped in @catch_memory_error.
        Called by apiCallsMixin.fetchOrthologs in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - gene_symbols
              properties:
                gene_symbols:
                  type: array
                  items:
                    type: string
                  description: Gene symbols to map.
                analysis:
                  type: object
                  nullable: true
                  description: Analysis object; only its id is used. Must be an object (a string raises and returns
                    500).
                  properties:
                    id:
                      type: string
                  additionalProperties: true
                gene_organism_id:
                  type: integer
                  description: Organism ID of the input genes (cast with int()).
                exclusive_org:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  default: 'false'
                  description: '"true" restricts mapping to the gene organism''s ortholog file. Must be a string
                    (the handler calls .lower(); a JSON boolean causes a 500).'
      responses:
        '200':
          description: Mapping of each input symbol to matching dataset symbols (empty list if unmapped).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    description: Always 1.
                  mapping:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    description: Input symbol to list of dataset gene symbols.
        '400':
          description: '{"error": ...} for invalid/empty JSON body, no gene symbols, dataset not found, or dataset
            without an organism; {"success": -1, "message": ...} when the dataset file cannot be loaded or lacks
            a gene_symbol column.'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    error:
                      type: string
                      description: Error message.
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: MemoryError or unhandled exception (e.g. exclusive_org mapping failure re-raised).
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiMemoryErrorResponse'
                - $ref: '#/components/schemas/ApiMessageError'
  /api/h5ad/{share_uid}/availableAnalysisTools:
    get:
      operationId: getAvailableAnalysisTools
      tags:
      - H5AD
      summary: Report which gEAR analysis tools support a dataset's type.
      description: Looks up the dataset type by share ID and maps each tool in the module-level `tools` table to
        a boolean. Does not read the session cookie. Called by apiCallsMixin.fetchAvailableAnalysisTools in www/js/common.v2.js.
      parameters:
      - name: share_uid
        in: path
        required: true
        description: Dataset share ID.
        schema:
          type: string
      responses:
        '200':
          description: Tool availability. Returns HTTP 200 with success -1 and "No dataset found with that share
            ID" if the share ID is unknown.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    share_id:
                      type: string
                      description: The share ID from the path.
                    available_analysis_tools:
                      type: object
                      description: Tool name to availability.
                      properties:
                        dataset-curator:
                          type: boolean
                        multigene-viewer:
                          type: boolean
                        compare-tool:
                          type: boolean
                        sc-workbench:
                          type: boolean
                - $ref: '#/components/schemas/ApiErrorResponse'
  /api/higlass/genes/{gene_symbol}:
    get:
      operationId: getHiGlassGene
      tags:
      - HiGlass
      summary: Look up a gene's coordinates on the gEAR HiGlass server.
      description: Queries <HIGLASS_URL>/suggest/ for the assembly's annotation BEDdb tileset and returns the matching
        entry unchanged, preferring an exact case-insensitive geneName match and falling back to the first hit.
        Called by apiCallsMixin.fetchHiglassGeneCoords in www/js/common.v2.js and internally by GoslingSpec via
        http://127.0.0.1/api/higlass/genes/.
      parameters:
      - name: gene_symbol
        in: path
        required: true
        description: Gene symbol to search.
        schema:
          type: string
      - name: assembly
        in: query
        required: true
        description: Assembly key of ANNOTATION_BEDDB_UID in resources/common.py.
        schema:
          type: string
          enum:
          - danRer10
          - hg19
          - hg38
          - mm10
          - mm39
          - rn6
      responses:
        '200':
          description: The HiGlass suggest entry, or JSON null when HiGlass returns no results or the request to
            HiGlass fails.
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  chr:
                    type: string
                    description: Chromosome.
                  txStart:
                    type: integer
                    description: Transcript start.
                  txEnd:
                    type: integer
                    description: Transcript end.
                  score:
                    type: number
                    description: HiGlass suggest score.
                  geneName:
                    type: string
                    description: Official gene name.
                additionalProperties: true
        '500':
          description: Unsupported or missing assembly (the handler raises ValueError).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/import/dataset/{share_uid}/status:
    post:
      operationId: getDatasetProcessingStatus
      tags:
      - Import
      summary: Poll the processing status of a dataset upload (expression, spatial or track hub).
      description: Returns the staging status.json for the user's upload. While status is "processing" (and dataset_format
        is not "gosling") it checks for a recorded job_id, falling back to checking that the legacy process_id is
        alive with `ps -p`. Uses POST although it only reads. The body should be JSON (the client sends a JSON object
        so Flask does not treat it as form data). Called by www/js/upload_dataset.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: share_uid
        in: path
        required: true
        description: Upload share UID.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dataset_format:
                  type: string
                  description: Upload format, e.g. "expression", "spatial" or "gosling" ("gosling" skips the liveness
                    check).
      responses:
        '200':
          description: Contents of status.json; progress is set to 100 when status is "complete".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUploadStatus'
        '400':
          description: Status was "processing" but neither a job_id nor a live process_id was found; the returned
            status.json copy has status "error", progress 0 and a failure message (the file is not updated).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUploadStatus'
        '401':
          description: Session cookie does not resolve to a user ("Invalid session").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUploadStatusError'
        '404':
          description: status.json not found ("Job status file not found").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUploadStatusError'
  /api/import/trackhub/{share_uid}/copy:
    post:
      operationId: copyTrackHub
      tags:
      - Import
      summary: Import an uploaded UCSC track hub as a Gosling-format dataset.
      description: Saves uploaded track files into www/uploads/files/{session_id}/{share_uid}/, writes status.json,
        sets dataset_format "gosling" in the staging metadata.json and builds hub_url as <domain>/tracks/<dataset_uid>.
        Publishes to RabbitMQ queue "trackhub_copy_jobs" when [dataset_uploader] queue_enabled, otherwise runs gear.trackhub.process_trackhub_synchronously.
        Called by www/js/upload_dataset.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: share_uid
        in: path
        required: true
        description: Upload share UID (staging directory name).
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - hub_json
              - tracks
              - assembly
              properties:
                hub_json:
                  type: string
                  description: JSON-encoded hub stanza. Invalid JSON causes a 500.
                tracks:
                  type: string
                  description: JSON-encoded list of track stanzas; each should have an "id".
                assembly:
                  type: string
                  description: Genome assembly.
                dry_run:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  description: '"true" skips saving uploaded files.'
              additionalProperties:
                type: string
                format: binary
                description: Optional track files under keys containing "[<track_id>][file]"; the filename is recorded
                  on the matching stanza as uploadedFileName.
      responses:
        '200':
          description: 'Synchronous processing succeeded. Quirk: if the staging metadata.json is missing or has
            no dataset_uid, the handler writes an error status.json and returns with no value, so the body is JSON
            null with HTTP 200.'
          content:
            application/json:
              schema:
                type: object
                nullable: true
                allOf:
                - $ref: '#/components/schemas/ApiTrackHubCopyResult'
        '202':
          description: Job queued to RabbitMQ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTrackHubCopyResult'
        '400':
          description: Missing hub_json, tracks, or (after the session check) assembly/empty track list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTrackHubCopyResult'
        '401':
          description: Session cookie does not resolve to a user ("Invalid session. Please log in.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTrackHubCopyResult'
        '500':
          description: 'Domain URL not configured, synchronous processing failed, queue connection/publish error
            ("Error processing track hub: ..."), or an unhandled exception such as invalid hub_json.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiTrackHubCopyResult'
                - $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}:
    post:
      operationId: getPlotlyData
      tags:
      - Plots
      summary: Build a single-gene Plotly figure (default plot endpoint).
      description: Builds a single-gene Plotly figure with gear.plotting.generate_plot and returns the figure JSON
        plus the plot settings echoed back. Same handler (PlotlyData) as /api/plot/{dataset_id}/plotly. Called by
        apiCallsMixin.fetchPlotlyData in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPlotlyDataRequest'
      responses:
        '200':
          description: 'Plotly figure and echoed settings. With return_image=true the body is instead {success,
            message, image, image_format: "pdf"}. Errors are also returned with HTTP 200 and success -1: no JSON
            body, missing gene symbol, dataset or h5ad not found, an axis/color/facet/label column missing from
            obs, gene not found, missing gene_symbol column, PlotError, or any other exception while plotting ("Encountered
            error: ..."). Some early errors return only {success, message}; later ones return the full echoed-settings
            object with plot_json null.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiPlotlyDataResponse'
                - $ref: '#/components/schemas/ApiImageResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}/gosling:
    get:
      operationId: getGoslingSpec
      tags:
      - Plots
      summary: Build a Gosling visualization spec from a UCSC-style track hub.
      description: Fetches and parses the track hub at hub_url, looks up the gene position via the local /api/higlass/genes
        endpoint, and builds a Gosling spec (BAM, BED, bigWig, bigInteract, VCF and HiC tracks). The session cookie
        read is commented out. Called by apiCallsMixin.fetchGoslingDisplay in www/js/common.v2.js.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (only checked for existence).
        schema:
          type: string
      - name: gene
        in: query
        required: true
        description: Gene symbol to locate and zoom to.
        schema:
          type: string
      - name: assembly
        in: query
        required: true
        description: Genome assembly (e.g. hg38, mm10).
        schema:
          type: string
      - name: hub_url
        in: query
        required: true
        description: URL of the track hub.
        schema:
          type: string
      - name: zoom
        in: query
        required: false
        description: '"true" adds a second (right-hand) zoomed view; anything else is false.'
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          default: 'false'
      responses:
        '200':
          description: Spec built.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGoslingSpecResponse'
        '400':
          description: Missing assembly, gene or hub_url, or the hub fetch/parse failed (ValueError or requests
            error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGoslingSpecResponse'
        '404':
          description: Dataset not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGoslingSpecResponse'
    post:
      operationId: createGoslingSpec
      tags:
      - Plots
      summary: Stub; not implemented.
      description: GoslingSpec.post exists but its body is only `pass`, so flask-restful returns HTTP 200 with a
        JSON null body.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (unused).
        schema:
          type: string
      responses:
        '200':
          description: Always JSON null.
          content:
            application/json:
              schema:
                type: object
                nullable: true
    put:
      operationId: replaceGoslingSpec
      tags:
      - Plots
      summary: Stub; not implemented.
      description: GoslingSpec.put body is only `pass`; returns HTTP 200 with a JSON null body.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (unused).
        schema:
          type: string
      responses:
        '200':
          description: Always JSON null.
          content:
            application/json:
              schema:
                type: object
                nullable: true
    delete:
      operationId: deleteGoslingSpec
      tags:
      - Plots
      summary: Stub; not implemented.
      description: GoslingSpec.delete body is only `pass`; returns HTTP 200 with a JSON null body.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID (unused).
        schema:
          type: string
      responses:
        '200':
          description: Always JSON null.
          content:
            application/json:
              schema:
                type: object
                nullable: true
  /api/plot/{dataset_id}/mg_plotly:
    post:
      operationId: getMgPlotlyData
      tags:
      - Plots
      summary: Build a multi-gene Plotly figure (dotplot, heatmap, mg_violin, volcano, quadrant).
      description: Builds a multi-gene Plotly figure using gear.mg_plotting. Wrapped in @catch_memory_error, so
        a MemoryError returns HTTP 500. Called by apiCallsMixin.fetchMgPlotlyData in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiMgPlotlyDataRequest'
      responses:
        '200':
          description: '{success, message, plot_json}, or {success, message, image, image_format: "pdf"} when return_image
            is set. success is 1, or 2 when a warning is in message (duplicate Ensembl IDs, quadrant genes filtered
            out). Quirk: when some requested genes are not found, gear.mg_plotting.create_dataframe_gene_mask sets
            `success = 2,` (a tuple), so success serializes as [2]. Errors return HTTP 200 with success -1: no JSON
            body, dataset/file not found, no categorical obs columns, no genes for dotplot/heatmap/mg_violin, fewer
            than 2 genes for heatmap, missing primary_col, invalid filters/sort order/clusterbar fields, "No data
            found for the selected filters.", PlotError, or "Plot type ... is not a valid multi-gene plot option".'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiPlotJsonResponse'
                - $ref: '#/components/schemas/ApiImageResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: MemoryError (from @catch_memory_error) or an unhandled exception.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiMemoryErrorResponse'
                - $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}/mg_tsne:
    post:
      operationId: getMgTsneData
      tags:
      - Plots
      summary: Render a static multi-gene embedding plot (tSNE/UMAP/PCA) as a base64 image.
      description: Multi-gene variant of /api/plot/{dataset_id}/tsne using multi_gene_parser (gene_symbols list
        instead of gene_symbol; no plot_by_group, hide_group_nonmembers, skip_gene_plot or two_way_palette). Called
        by apiCallsMixin.fetchMgTsneImage in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiMgTsneDataRequest'
      responses:
        '200':
          description: '{success, message, image, image_format} as for /tsne. Errors return HTTP 200 with success
            -1.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiImageResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
        '400':
          description: reqparse type validation failure (bundle_errors).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiReqparseError'
        '500':
          description: Unhandled exception (including an unknown plot_type, which raises KeyError).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}/plotly:
    post:
      operationId: getPlotlyDataPlotly
      tags:
      - Plots
      summary: Build a single-gene Plotly figure (alias of /api/plot/{dataset_id}).
      description: Second URL registered for the PlotlyData resource, added for naming consistency with the other
        /plot/{dataset_id}/<type> endpoints. Behavior is identical to POST /api/plot/{dataset_id}.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPlotlyDataRequest'
      responses:
        '200':
          description: 'Same as POST /api/plot/{dataset_id}: figure plus echoed settings, a base64 PDF when return_image
            is set, or a success -1 error body.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiPlotlyDataResponse'
                - $ref: '#/components/schemas/ApiImageResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}/spatial_scanpy:
    post:
      operationId: getSpatialScanpyData
      tags:
      - Plots
      summary: Render a spatial comparison figure (spatial, UMAP and violin plots) as a base64 image.
      description: Loads a spatial analysis, runs filter_cells(min_genes=200), normalize_total, log1p, PCA, neighbors
        and UMAP, and renders a comparison figure for the requested genes. Called by apiCallsMixin.fetchSpatialScanpyImage
        in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - gene_symbols
              properties:
                gene_symbols:
                  type: array
                  items:
                    type: string
                  description: Genes to plot (matched case-insensitively; unknown genes are dropped).
                analysis:
                  $ref: '#/components/schemas/ApiAnalysisRef'
                projection_id:
                  type: string
                  nullable: true
                  description: projectR projection ID.
                colorblind_mode:
                  type: boolean
                  default: false
                  description: Use colorblind-friendly palettes.
                high_dpi:
                  type: boolean
                  default: false
                  description: Save as PNG at higher dpi instead of WebP.
      responses:
        '200':
          description: '{success, message, image}. The image is base64 WebP, or PNG when high_dpi is true; no image_format
            key is returned. Errors return HTTP 200 with success -1 (no gene symbols, "Could not create dataset
            object using analysis.", projection PlotError).'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    success:
                      type: integer
                      description: 1 on success.
                    message:
                      type: string
                      description: Always empty on success.
                    image:
                      type: string
                      format: byte
                      description: Base64-encoded WebP or PNG.
                - $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Unhandled exception (e.g. no JSON body, since req.get is called on None).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/plot/{dataset_id}/spatialpanel:
    post:
      operationId: getSpatialPanel
      tags:
      - Plots
      summary: Prepare cached spatial data and return a script tag embedding the HoloViz Panel viewer.
      description: Caches the spatial image (spatial_img_<channel>.npy, spatial_props.json) and a per-gene CSV under
        www/cache/spatial_panel/{dataset_id}/, then returns a Bokeh server_document script pointing at <domain>/panel/ws/panel_app
        (or panel_app_expanded when is_zoomed). Does not read the session cookie. Called by apiCallsMixin.prepSpatialPanelData
        in www/js/common.v2.js.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gene_symbol:
                  type: string
                  description: Gene symbol, or a pattern name when projection_id is set.
                projection_id:
                  type: string
                  nullable: true
                  description: projectR projection ID.
                is_zoomed:
                  type: boolean
                  default: false
                  description: Use the expanded Panel app (panel_app_expanded).
                min_genes:
                  type: integer
                  default: 0
                  description: Parsed as int but otherwise unused by the handler.
                expression_min_clip:
                  type: number
                  nullable: true
                  description: Lower clip for expression values (passed to the Panel app config).
                disable_save:
                  type: boolean
                  default: true
                  description: Disable the Panel app's save-display button (sent as "nosave").
                x_range_start:
                  type: number
                  description: Initial view range; used only if all four range keys are given.
                x_range_end:
                  type: number
                  description: Initial view range.
                y_range_start:
                  type: number
                  description: Initial view range.
                y_range_end:
                  type: number
                  description: Initial view range.
      responses:
        '200':
          description: '{script, success, message}. On failure success is 0, script is null and message holds the
            error ("No JSON body provided in the request.", "Error preparing data image: ...", "Error preparing
            data markers: ...", or "... Error generating viewer script: ...").'
          content:
            application/json:
              schema:
                type: object
                properties:
                  script:
                    type: string
                    nullable: true
                    description: HTML <script> tag that embeds the Panel app.
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                    description: 1 on success, 0 on failure.
                  message:
                    type: string
                    description: Informational notes (cache use) or error text.
  /api/plot/{dataset_id}/svg:
    get:
      operationId: getSvgData
      tags:
      - Plots
      summary: Get expression values and score ranges for coloring a dataset's SVG image.
      description: Reads the primary dataset h5ad directly with scanpy (analyses are ignored) and returns the gene's
        expression per observation plus min/max ranges. Does not read the session cookie. Called by apiCallsMixin.fetchSvgData
        in www/js/common.v2.js.
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      - name: gene
        in: query
        required: true
        description: Gene symbol (exact match against var.gene_symbol).
        schema:
          type: string
      - name: projection_id
        in: query
        required: false
        description: projectR projection ID; plot pattern values instead of expression.
        schema:
          type: string
      - name: expression_min_clip
        in: query
        required: false
        description: Lower clip for expression values; must parse as a float.
        schema:
          type: number
      - name: vmin
        in: query
        required: false
        description: User-defined color minimum. "0" or absent is treated as 0.0 when vmax is given.
        schema:
          type: number
      - name: vmax
        in: query
        required: false
        description: User-defined color maximum. "0" or absent falls back to the gene maximum when vmin is given.
        schema:
          type: number
      responses:
        '200':
          description: 'Expression data. success is 2 (with a warning message) when the symbol maps to several Ensembl
            IDs; the first is used. Errors return HTTP 200 with success -1: non-numeric expression_min_clip, missing
            gene, dataset not found, h5ad file not found, projection PlotError, missing gene_symbol column, or gene
            not found.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiSvgDataResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
  /api/plot/{dataset_id}/tsne:
    post:
      operationId: getTsneData
      tags:
      - Plots
      summary: Render a static single-gene embedding plot (tSNE/UMAP/PCA) as a base64 image.
      description: Renders a scanpy/matplotlib embedding plot for one gene. Parameters are parsed by reqparse (single_gene_parser
        in resources/tsne_data.py); keys without location="json" (plot_type, x_axis, y_axis, colorize_legend_by,
        max_columns, expression_palette, marker_size, vmin, vmax, projection_id, expression_min_clip, gene_symbol,
        plot_by_group) may also be sent as query/form values. Called by apiCallsMixin.fetchTsneImage in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTsneDataRequest'
      responses:
        '200':
          description: '{success, message, image, image_format}. image_format is "webp", "png" when the figure exceeds
            the 16383 px WebP limit, or "pdf" when high_dpi is true. success is 2 when duplicate genes were deduplicated.
            Errors return HTTP 200 with success -1 (no gene symbol, dataset not found, analysis unavailable, cannot
            load AnnData, projection PlotError, missing gene_symbol column, gene/axis validation failure, invalid
            vmin/vmax/median-centering combination).'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiImageResponse'
                - $ref: '#/components/schemas/ApiErrorResponse'
        '400':
          description: reqparse type validation failure (bundle_errors).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiReqparseError'
        '500':
          description: 'Unhandled exception. Quirk: an unknown plot_type raises KeyError, but the handler only catches
            ValueError, so it surfaces as a 500 instead of the intended success -1 message.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/projectr/{dataset_id}:
    post:
      operationId: runProjectR
      tags:
      - Projection
      summary: Start (or reuse) a projectR projection of a gene cart onto a dataset.
      description: Returns a completed status if the projection CSV (and p-value CSV when full output is requested)
        already exists; returns an existing pending/running/complete job status unchanged; returns "running" when
        a lock file exists; otherwise writes a pending status and either publishes the job to the RabbitMQ queue
        "projectr" ([projectR_service] queue_enabled) or runs projectr_callback synchronously. Clients poll GET
        /api/projectr/{projection_id}/status. Called by apiCallsMixin.fetchProjection in www/js/common.v2.js.
      security:
      - gearSessionCookie: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Target dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ApiProjectRRequest'
              - type: object
                properties:
                  projection_id:
                    type: string
                    description: Projection UUID. When omitted, a deterministic UUID is derived from (dataset_id,
                      genecart_id, algorithm, zscore).
      responses:
        '200':
          description: Job status. Failures are reported as status "failed" with the reason in error (still HTTP
            200), e.g. unweighted lists with NMF algorithms, gene list not found/empty, analysis unavailable, RabbitMQ
            connection/publish errors, projectR timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiProjectRJobStatus'
        '400':
          description: 'reqparse failure (missing genecart_id or bad boolean) as {"message": {...}}, or unsafe path
            components ("Invalid projection path parameters.") via abort.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiReqparseError'
                - $ref: '#/components/schemas/ApiMessageError'
        '403':
          description: Resolved projection CSV path is outside www/projections ("Invalid dataset path").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
        '500':
          description: MemoryError in the synchronous projectr_callback (@catch_memory_error), or an unhandled exception
            (e.g. an invalid dataset_id for the projections JSON path raises ValueError).
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiMemoryErrorResponse'
                - $ref: '#/components/schemas/ApiMessageError'
  /api/projectr/{dataset_id}/output_file:
    post:
      operationId: getProjectROutputFile
      tags:
      - Projection
      summary: Check whether a projection already exists for this dataset, gene cart, algorithm and zscore.
      description: 'Looks up the dataset''s projections.json for a config matching genecart_id, algorithm and zscore
        and returns its UUID if the CSV exists. Side effect: creates the by_dataset/{dataset_id} and by_genecart/{genecart_id}
        directories and empty projections.json files when missing, and migrates legacy "cart.<id>" entries. scope,
        full_output and analysis are parsed but unused. Does not read the session cookie. Called by apiCallsMixin.checkForProjection
        in www/js/common.v2.js.'
      parameters:
      - name: dataset_id
        in: path
        required: true
        description: Target dataset ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiProjectRRequest'
      responses:
        '200':
          description: Existing projection ID, or null if none matches or its CSV is missing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  projection_id:
                    type: string
                    nullable: true
                    description: UUID of the matching projection, or null.
        '400':
          description: 'reqparse failure (missing genecart_id, bad boolean) as {"message": {...}}, or unsafe path
            components via abort when building the CSV path.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ApiReqparseError'
                - $ref: '#/components/schemas/ApiMessageError'
        '500':
          description: Unhandled exception (e.g. build_projection_json_path raises ValueError for an unsafe ID).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /api/projectr/{projection_id}/status:
    get:
      operationId: getProjectRStatus
      tags:
      - Projection
      summary: Poll the status of a projectR job.
      description: Returns the contents of www/projections/job_status/job_{projection_id}.json. When the status
        is "complete" the file is deleted after it is read, so the next poll returns 404. Does not read the session
        cookie. Called by apiCallsMixin.pollProjectRStatus in www/js/common.v2.js.
      parameters:
      - name: projection_id
        in: path
        required: true
        description: Projection UUID (sanitized with secure_filename).
        schema:
          type: string
      responses:
        '200':
          description: Job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiProjectRJobStatus'
        '403':
          description: Resolved path escapes the job status directory ("Invalid job id/path").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
        '404':
          description: Job status file not found ("Job status file not found").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageError'
  /cgi/add_display_to_layout.cgi:
    post:
      operationId: cgiAddDisplayToLayout
      tags:
      - Collections (layouts)
      summary: Add a dataset display as a member of a layout (collection)
      description: Requires a logged-in user who owns the layout. Computes the next free grid position (width 4
        for single-gene, 6 for multi-gene displays) and, if the layout is in "legacy" mode (every member has start_col
        1), first rebuilds all member grid positions. Errors are returned with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - layout_share_id
              - display_id
              properties:
                session_id:
                  type: string
                  description: Session ID of the logged-in layout owner
                layout_share_id:
                  type: string
                  description: Share ID of the target layout
                display_id:
                  type: integer
                  description: ID of the dataset display to add
      responses:
        '200':
          description: Result of the add (errors also use HTTP 200).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1SuccessError'
  /cgi/add_layout.cgi:
    post:
      operationId: cgiAddLayout
      tags:
      - Collections (layouts)
      summary: Create a new, empty layout (collection) for the user
      description: Requires a logged-in user. Saves an empty, non-current layout with the given label and records
        a 'layout_added' user-history entry. Note the response has no success key; failure is signalled only by
        an 'error' key (HTTP 200).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - layout_name
              properties:
                session_id:
                  type: string
                  description: Session ID of the logged-in user
                layout_name:
                  type: string
                  description: Label for the new layout
      responses:
        '200':
          description: The new layout's label and share ID, or an error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  layout_label:
                    type: string
                    description: Label of the created layout
                  layout_share_id:
                    type: string
                    description: Share ID of the created layout
                  error:
                    type: string
                    description: Present only on failure (user not logged in)
  /cgi/add_to_user_history.cgi:
    post:
      operationId: cgiAddToUserHistory
      tags:
      - Account/auth
      summary: Record an entry in the user's activity history
      description: Every submitted form field is forwarded as a keyword argument to UserHistory.add_record(), so
        category-specific extras (search_terms, gene_symbol, layout_share_id, dataset_share_id, gene_cart_share_id,
        gene_cart, multi, patterns, algo) must be sent as extra fields. Requires a valid session; a missing or invalid
        session raises an uncaught exception. Prints only a Content-Type header with an empty body. No current frontend
        caller found.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - entry_category
              - label
              additionalProperties:
                type: string
              properties:
                session_id:
                  type: string
                  description: Session ID of the logged-in user
                entry_category:
                  type: string
                  description: History category (validated in gear/userhistory.py; others raise)
                  enum:
                  - dataset_search
                  - gene_cart_added
                  - gene_cart_search
                  - gene_search
                  - layout_added
                  - multigene_search
                  - projection_run
                label:
                  type: string
                  description: Label shown in the user history table
      responses:
        '200':
          description: Empty body (application/json Content-Type header only).
  /cgi/apply_note_changes.cgi:
    post:
      operationId: cgiApplyNoteChanges
      tags:
      - Datasets
      summary: Create, edit, or remove a dataset note
      description: Requires a logged-in user. The action is chosen by 'scope'. Only 'remove' checks note ownership;
        'edit' updates any note ID without an ownership check. An unrecognized scope returns success 0 with no error.
        Errors are returned with HTTP 200. No current frontend caller found (legacy).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - scope
              properties:
                session_id:
                  type: string
                  description: Session ID of the logged-in user
                scope:
                  type: string
                  enum:
                  - new
                  - edit
                  - remove
                  description: Action to perform
                note_id:
                  type: integer
                  description: Note ID (required for edit and remove)
                dataset_id:
                  type: string
                  description: Dataset ID the note is attached to (scope=new)
                title:
                  type: string
                  description: Note title (new/edit)
                ldesc:
                  type: string
                  description: Note body (new/edit)
                access_level:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Stored as note.is_public (new/edit)
      responses:
        '200':
          description: Result of the note operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  notes:
                    type: array
                    items: {}
                    description: Always empty
                  error:
                    type: string
                    description: Present on failure
  /cgi/apply_obs_dtype_choices.cgi:
    post:
      operationId: cgiApplyObsDtypeChoices
      tags:
      - Uploads
      summary: Apply user-chosen dtypes to flagged obs columns of a staged upload
      description: Used by the uploader's "Review column types" step. Requires a valid session. Rewrites only the
        obs of the staged H5AD (or the 'table' group of a spatial Zarr store) under uploads/files/<session_id>/<share_uid>/,
        then sets obs_dtype_reviewed=true and clears questionable_obs_columns in metadata.json. Errors are returned
        with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - share_uid
              - choices
              properties:
                session_id:
                  type: string
                  description: Session ID of the uploading user (also the upload directory name)
                share_uid:
                  type: string
                  description: Share UID of the upload in progress
                choices:
                  type: string
                  description: 'JSON object mapping obs column name to ''categorical'' or ''continuous'', e.g. {"replicate":
                    "categorical"}'
      responses:
        '200':
          description: Result of applying the dtype choices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1SuccessMessage'
  /cgi/check_dataset_processing_status.cgi:
    post:
      operationId: cgiCheckDatasetProcessingStatus
      tags:
      - Uploads
      summary: Report processing status/progress of an uploading dataset
      description: Reads uploads/files/<session_id>/<share_uid>/status.json; for legacy 'processing' entries with
        no job UUID it checks that the recorded process ID is still running. The session is not validated against
        the database (it is used only as a directory name). The upload page now uses /api/import/dataset/<share_uid>/status;
        this CGI is kept for manual checks (e.g. curl GET).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - share_uid
              properties:
                session_id:
                  type: string
                  description: Session ID of the uploading user
                share_uid:
                  type: string
                  description: Share UID of the upload
      responses:
        '200':
          description: Processing status (errors are status 'error' with job_id -1).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1ProcessingStatus'
    get:
      operationId: cgiCheckDatasetProcessingStatusGet
      tags:
      - Uploads
      summary: Report processing status/progress of an uploading dataset (query string)
      description: Same as the POST form; the script's docstring documents calling it by hand with a GET query string.
      parameters:
      - name: session_id
        in: query
        required: true
        schema:
          type: string
        description: Session ID of the uploading user
      - name: share_uid
        in: query
        required: true
        schema:
          type: string
        description: Share UID of the upload
      responses:
        '200':
          description: Processing status (errors are status 'error' with job_id -1).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1ProcessingStatus'
  /cgi/check_existing_email.cgi:
    post:
      operationId: cgiCheckExistingEmail
      tags:
      - Account/auth
      summary: Check whether an email address already has an account
      description: Whitespace is stripped from the address before lookup. A missing email raises an uncaught exception
        after the header is printed (empty body). No login required.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: Email address to check
      responses:
        '200':
          description: Whether the email exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  email_exists:
                    type: integer
                    enum:
                    - 0
                    - 1
  /cgi/copy_dataset_analysis.cgi:
    post:
      operationId: cgiCopyDatasetAnalysis
      tags:
      - Analysis/workbench
      summary: Copy or move a stored analysis between analysis classes
      description: Supports only user_unsaved->user_saved (move, open perms), user_saved->public (move, read-only
        perms) and public->user_unsaved (copy); other combinations return an error. Rewrites the analysis config's
        id, type and analysis_session_id. No user login check is made (session_id locates user_unsaved analyses).
        Errors are returned with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - dataset_id
              - source_analysis_id
              - source_analysis_type
              - dest_analysis_id
              - dest_analysis_type
              properties:
                session_id:
                  type: string
                  description: Session ID (used for analysis paths)
                dataset_id:
                  type: string
                  description: Dataset ID
                source_analysis_id:
                  type: string
                  description: Source analysis UUID
                source_analysis_type:
                  $ref: '#/components/schemas/Cgi1AnalysisType'
                dest_analysis_id:
                  type: string
                  description: Destination analysis UUID
                dest_analysis_type:
                  $ref: '#/components/schemas/Cgi1AnalysisType'
      responses:
        '200':
          description: Result of the copy/move.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1SuccessError'
  /cgi/create_account.cgi:
    post:
      operationId: cgiCreateAccount
      tags:
      - Account/auth
      summary: Create a new user account and return a session ID
      description: 'Verifies verification_code_short against the long code, stores a SHA3-256 password hash, and
        creates a session. session_id is 0 on failure, -1 if the user already exists, else a UUID. Quirk: when the
        user already exists the script prints two JSON objects back to back (first success 0, then success 1 with
        session_id -1).'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - password
              - verification_code_long
              - verification_code_short
              properties:
                first-last:
                  type: string
                  description: User's full name
                email:
                  type: string
                  description: Email address (account key)
                institution:
                  type: string
                  description: Institution
                password:
                  type: string
                  format: password
                  description: Plain-text password
                email_updates:
                  type: string
                  enum:
                  - 'yes'
                  description: '''yes'' to opt in to email updates'
                colorblind_mode:
                  type: string
                  enum:
                  - 'yes'
                  description: '''yes'' to enable colorblind mode'
                verification_code_long:
                  type: string
                  description: Long-form verification code
                verification_code_short:
                  type: string
                  description: Short code the user typed
      responses:
        '200':
          description: Account creation result (errors also use HTTP 200).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  session_id:
                    description: 0 = failure, -1 = user already exists, otherwise the new session UUID
                    oneOf:
                    - type: string
                    - type: integer
                  long_session:
                    type: integer
                    enum:
                    - 0
                    - 1
                    description: Always 1 (remember-me is hardcoded)
                  error:
                    type: string
  /cgi/create_github_issue.cgi:
    post:
      operationId: cgiCreateGithubIssue
      tags:
      - Misc
      summary: Create a GitHub issue from the site comment/feedback form
      description: Posts an issue (label site_comment) to jorvis/gEAR, or to IGS/gEAR when private_check is the
        string 'false', then adds it to the "Site Comments" project column. No login required. A screenshot is passed
        by file name (previously uploaded to contact_screenshots/files) and symlinked to a public URL.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                comment_title:
                  type: string
                  description: Issue title
                comment:
                  type: string
                  description: Comment body
                comment_tag:
                  type: string
                  description: Comma-space separated tags (put in the issue body)
                submitter_firstname:
                  type: string
                submitter_lastname:
                  type: string
                submitter_email:
                  type: string
                private_check:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  description: '''false'' sends to the public IGS repo; anything else to the private repo'
                screenshot:
                  type: string
                  description: File name of an already-uploaded screenshot, or 'null'
      responses:
        '200':
          description: Issue creation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  error:
                    description: Empty list on success, error string on failure
                    oneOf:
                    - type: array
                      items: {}
                    - type: string
  /cgi/delete_dataset_analysis.cgi:
    post:
      operationId: cgiDeleteDatasetAnalysis
      tags:
      - Analysis/workbench
      summary: Delete a user's stored (non-primary) analysis
      description: Requires a logged-in user who owns the analysis. Primary analyses cannot be deleted, and the
        directory is only removed if its name is a UUID. Errors are returned with HTTP 200 and success 0 (a missing
        dataset returns success 0 with an empty error).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - dataset_id
              - analysis_id
              - analysis_type
              properties:
                session_id:
                  type: string
                  description: Session ID of the analysis owner
                dataset_id:
                  type: string
                analysis_id:
                  type: string
                  description: Analysis UUID
                analysis_type:
                  $ref: '#/components/schemas/Cgi1AnalysisType'
      responses:
        '200':
          description: Result of the delete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1SuccessError'
  /cgi/delete_dataset_display.cgi:
    post:
      operationId: cgiDeleteDatasetDisplay
      tags:
      - Displays
      summary: Delete a saved dataset display owned by the user
      description: Requires a session whose user owns the display. A display that does not exist is treated as already
        deleted (success true). Returns success false if parameters are missing or the user is not the owner.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - id
              properties:
                session_id:
                  type: string
                  description: Session ID of the display owner
                id:
                  type: integer
                  description: Display ID
      responses:
        '200':
          description: Result of the delete.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /cgi/delete_upload_in_progress.cgi:
    post:
      operationId: cgiDeleteUploadInProgress
      tags:
      - Uploads
      summary: Delete one of the user's in-progress upload directories
      description: Requires a logged-in user. Recursively removes uploads/files/<session_id>/<share_uid> after validating
        both path components. dataset_id is read but unused. Errors are returned with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - share_uid
              properties:
                session_id:
                  type: string
                  description: Session ID of the uploading user
                share_uid:
                  type: string
                  description: Share UID of the upload to delete
                dataset_id:
                  type: string
                  description: Unused
      responses:
        '200':
          description: Result of the delete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cgi1SuccessMessage'
  /cgi/download_projection.cgi:
    post:
      operationId: cgiDownloadProjection
      tags:
      - Projection
      summary: Download projection coefficient (and p-value) CSVs as a zip
      description: Zips <projection_id>.coeff.csv and, if present, <projection_id>.pval.csv from projections/by_dataset/<dataset_id>/.
        share_id takes precedence over the legacy dataset_id. No login check. Any error (missing IDs, dataset or
        file not found) raises an uncaught exception before headers are printed, so the server returns HTTP 500.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Cgi1DownloadProjectionParams'
      responses:
        '200':
          description: Zip archive (Content-Disposition attachment; filename=<projection_id>.zip).
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: Uncaught exception (missing parameters or files).
    get:
      operationId: cgiDownloadProjectionGet
      tags:
      - Projection
      summary: Download projection coefficient (and p-value) CSVs as a zip (query string)
      description: Same as the POST form; the frontend (tilegrid.js) links to it with a GET URL.
      parameters:
      - name: share_id
        in: query
        schema:
          type: string
        description: Dataset share ID (preferred)
      - name: dataset_id
        in: query
        schema:
          type: string
        description: Dataset ID (legacy; used if share_id absent)
      - name: projection_id
        in: query
        required: true
        schema:
          type: string
        description: Projection ID
      responses:
        '200':
          description: Zip archive (Content-Disposition attachment; filename=<projection_id>.zip).
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: Uncaught exception (missing parameters or files).
  /cgi/download_source_file.cgi:
    post:
      operationId: cgiDownloadSourceFile
      tags:
      - Datasets
      summary: Download a dataset's source archive, H5AD, or metadata CSV
      description: type=tarball streams the original upload archive (.tar.gz, .tar or .zip), type=h5ad the dataset
        H5AD (or an analysis's H5AD when analysis_id is given; session_id is needed for user_unsaved analyses),
        type=metadata a CSV built from the stored metadata (looked up by share_id only). No login or is_downloadable
        check is made. Errors raise uncaught exceptions before headers, so the server returns 500.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Cgi1DownloadSourceParams'
      responses:
        '200':
          description: File attachment named <share_id>.<ext> (tar.gz/tar/zip, h5ad, or metadata.csv).
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: Uncaught exception (missing parameters, dataset or file not found).
    get:
      operationId: cgiDownloadSourceFileGet
      tags:
      - Datasets
      summary: Download a dataset's source archive, H5AD, or metadata CSV (query string)
      description: Same as the POST form; the frontend builds GET URLs (tilegrid.js, dataset_explorer.js, analysis.js).
      parameters:
      - name: share_id
        in: query
        schema:
          type: string
        description: Dataset share ID (preferred; required for type=metadata)
      - name: dataset_id
        in: query
        schema:
          type: string
        description: Dataset ID (legacy)
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - tarball
          - h5ad
          - metadata
        description: What to download
      - name: analysis_id
        in: query
        schema:
          type: string
        description: Download this analysis's H5AD instead (type=h5ad)
      - name: session_id
        in: query
        schema:
          type: string
        description: Needed to locate user_unsaved analyses
      responses:
        '200':
          description: File attachment named <share_id>.<ext>.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: Uncaught exception (missing parameters, dataset or file not found).
  /cgi/download_weighted_gene_cart.cgi:
    post:
      operationId: cgiDownloadWeightedGeneCart
      tags:
      - Gene lists (carts)
      summary: Download a weighted gene cart's tab-delimited file
      description: 'Streams carts/cart.<share_id>.tab. No login check. Quirk: the Content-Disposition filename is
        the full server-side path. A missing share_id raises before headers (HTTP 500).'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - share_id
              properties:
                share_id:
                  type: string
                  description: Gene cart share ID
      responses:
        '200':
          description: Tab-delimited gene cart file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: Uncaught exception (missing share_id or file).
  /cgi/finalize_uploaded_expression_dataset.cgi:
    post:
      operationId: cgiFinalizeUploadedExpressionDataset
      tags:
      - Uploads
      summary: Finalize an upload by saving metadata to MySQL and migrating files
      description: Requires a logged-in user. Saves metadata.json to MySQL (status completed), moves the H5AD (or
        spatial Zarr / gosling track hub) and the original upload file into place, optionally migrates the primary
        analysis JSON and preliminary plots, then deletes the upload directory. Returns per-step flags; errors are
        returned with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - share_uid
              - dataset_uid
              - dataset_format
              - dataset_visibility
              properties:
                session_id:
                  type: string
                  description: Session ID of the uploading user
                share_uid:
                  type: string
                  description: Share UID of the upload
                dataset_uid:
                  type: string
                  description: Dataset ID to create
                dataset_format:
                  type: string
                  enum:
                  - mex_3tab
                  - excel
                  - rds
                  - h5ad
                  - spatial
                  - gosling
                  description: Upload format ('null' is rejected)
                dataset_visibility:
                  type: string
                  enum:
                  - private
                  - public
                perform_analysis_migration:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Move analysis_pipeline.json and prelim plots
      responses:
        '200':
          description: Per-step status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  metadata_loaded:
                    type: integer
                    enum:
                    - 0
                    - 1
                  h5ad_migrated:
                    type: integer
                    enum:
                    - 0
                    - 1
                  userdata_migrated:
                    type: integer
                    enum:
                    - 0
                    - 1
                  primary_analysis_migrated:
                    type: integer
                    enum:
                    - 0
                    - 1
                  message:
                    type: string
  /cgi/get_PCs_from_anndata.cgi:
    post:
      operationId: cgiGetPCsFromAnndata
      tags:
      - Analysis/workbench
      summary: Return principal component loadings (varm['PCs']) for an analysis
      description: Loads the analysis AnnData and returns the PC loadings as a pandas 'split'-oriented frame (genes
        by PC1..PCn) plus gene symbols. No login check (session_id locates user analyses). Errors are returned with
        HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - dataset_id
              properties:
                session_id:
                  type: string
                dataset_id:
                  type: string
                analysis_id:
                  type: string
                analysis_type:
                  $ref: '#/components/schemas/Cgi1AnalysisType'
      responses:
        '200':
          description: PC loadings or error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  message:
                    type: string
                  pc_data:
                    type: object
                    nullable: true
                    description: pandas split orient
                    properties:
                      index:
                        type: array
                        items:
                          type: string
                        description: Gene IDs
                      columns:
                        type: array
                        items:
                          type: string
                        description: PC1..PCn
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                  gene_symbols:
                    type: array
                    nullable: true
                    items:
                      type: string
  /cgi/get_ambiguous_obs_columns.cgi:
    post:
      operationId: cgiGetAmbiguousObsColumns
      tags:
      - Uploads
      summary: Return obs columns flagged as possibly mis-typed for upload review
      description: Requires a valid session. Reads only uploads/files/<session_id>/<share_uid>/metadata.json (no
        H5AD/Zarr is opened). Errors are returned with HTTP 200 and success 0.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - session_id
              - share_uid
              properties:
                session_id:
                  type: string
                share_uid:
                  type: string
      responses:
        '200':
          description: Flagged columns.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
                    - 1
                  message:
                    type: string
                  questionable_columns:
                    type: object
                    additionalProperties: true
                    description: metadata.json questionable_obs_columns
                  reviewed:
                    type: boolean
                    description: metadata.json obs_dtype_reviewed
  /cgi/get_analysis_image.cgi:
    post:
      operationId: cgiGetAnalysisImage
      tags:
      - Analysis/workbench
      summary: Stream a PNG generated by an analysis step
      description: 'Returns <analysis dir>/figures/<analysis_name>.png (primary analyses are looked up as user_unsaved).
        If the dataset or analysis is missing it returns JSON {success: 0}; if the image is missing it sends Status
        404 with a plain-text body.'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Cgi1AnalysisImageParams'
      responses:
        '200':
          description: The PNG image, or JSON {success 0} if the dataset/analysis was not found.
          content:
            image/png:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
        '404':
          description: Image file not found (plain text).
          content:
            text/plain:
              schema:
                type: string
    get:
      operationId: cgiGetAnalysisImageGet
      tags:
      - Analysis/workbench
      summary: Stream a PNG generated by an analysis step (query string)
      description: Same as the POST form; analysis.js fetches it with axios.get and uses the URL as an img src.
      parameters:
      - name: session_id
        in: query
        schema:
          type: string
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
      - name: analysis_id
        in: query
        schema:
          type: string
      - name: analysis_type
        in: query
        schema:
          $ref: '#/components/schemas/Cgi1AnalysisType'
      - name: analysis_name
        in: query
        required: true
        schema:
          type: string
        description: Scanpy figure base name, e.g. pca_variance_ratio
      responses:
        '200':
          description: The PNG image, or JSON {success 0} if the dataset/analysis was not found.
          content:
            image/png:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum:
                    - 0
        '404':
          description: Image file not found (plain text).
          content:
            text/plain:
              schema:
                type: string
  /cgi/get_citation_from_pubmed_id.cgi:
    post:
      operationId: cgiGetCitationFromPubmedId
      tags:
      - Misc
[...]
