:root {
    --banner-bg-color: #7c2919;
    --dataset-panel-header-bg-color: #7c2919;
    --global-visited-links: #eb9f31;
    --main-intro-search-nav-bg-color: #7c2919;
    --main-search-list-selected-gene: #7c2919;
    --main-section-launcher-bg-color-active: #7c2919;
    --main-section-launcher-bg-color-inactive: #ABA9BF;
}
