docker/docker-compose.yml
docker/gear.ini.docker
gear_portal.20210312.sql
gear.ini.bak
gear.ini.orig
NOTES
TODO
backups/.gitignore
data/analysis_pipeline_template.json
docker/docker-compose.yml.bak
docs/proposed_dataset_curator_tests.md
www/.env
www/dataset_curator.vue3.html
www/.cache/matplotlib/fontlist-v310.json
www/.cache/matplotlib/fontlist-v330.json
www/.cache/numba/opt/Python-3.7.3/lib/python3.7/site-packages/umap/layouts.rdist-29.py37m.1.nbc
www/.cache/numba/opt/Python-3.7.3/lib/python3.7/site-packages/umap/layouts.rdist-29.py37m.nbi
www/.ipython/profile_default/history.sqlite
www/.ipython/profile_default/startup/README
www/cgi/remove_dataset_from_profile.cgi
www/css/dataset_manager.css
www/img/Cochlea_hair_epi_non.svg
www/img/Cochlea.ai
www/img/Cochlea.jpg
www/img/Cochlea.svg
www/img/dataset3.svg
www/img/dataset4a_hair_vs_skin.svg
www/img/dataset4a_infograph.jpg
www/img/dataset4b_hair_vs_mantle.svg
www/img/dataset4b_infograph.jpg
www/img/dataset6_cochlea.svg
www/img/dataset6_infograph.jpg
www/img/dataset6_vestibule.svg
www/img/dataset7_infograph.jpg
www/img/dataset7.svg
www/img/dataset8_infograph.png
www/img/dataset8.svg
www/img/dataset12.corrected.svg
www/img/dataset12.original.svg
www/img/Vestibule_hair_epi_non.svg
www/img/Vestibule.ai
www/img/Vestibule.jpg
www/img/Vestibule.svg
www/img/Zebra-Fish.ai
www/img/Zebra-Fish.jpg
www/img/Zebra-Fish.svg
www/img/zebrafish_hc_sc.svg
www/img/dataset_schematics/5f9b633b-3520-97b0-1fa9-13b5f66df52b.jpg
www/img/dataset_schematics/7812a487-932b-32f7-2de7-33dd3155c849.jpg
www/img/dataset_schematics/c69485b2-6f8d-c60e-7337-e7ebad89b2c0.jpg
www/img/dataset_schematics/cf8272cb-57fa-e841-0b50-9198e62fe2ff.jpg
www/img/dataset_schematics/liasdf98-1129-s82n-slk1-ane128h21kad.jpg
www/img/dataset_schematics/liasdf99-1912-3oiu-h981-2bj0912g89h2.jpg
www/include/manual/create_account.html~
www/include/manual/dataset_manager.html~
www/include/manual/search_gear.html~
www/include/manual/search_results.html~
www/include/manual/upload_dataset.html~
www/js/dataset_curator.vue3.js
www/js/dataset_manager.js
www/js/package.json
www/tests/test_dataset_curator_plotly.py