docker/docker-compose.yml
docker/gear.ini.docker
NOTES
TODO
www/.env
www/cgi/remove_dataset_from_profile.cgi
www/css/dataset_manager.css
www/include/manual/create_account.html~
www/include/manual/dataset_manager.html~
www/include/manual/search_gear.html~
www/include/manual/search_results.html~
www/include/manual/upload_dataset.html~
www/js/dataset_curator.vue3.js
www/js/dataset_manager.js
www/tests/test_dataset_curator_plotly.py
www/datasets_epigenetic/uploads/files/*
www/.DS_Store
