panel==1.5.5
dask==2024.12.1 # https://github.com/scverse/spatialdata/issues/835
plotly==5.20.0
spatialdata==0.3.0
spatialdata_io==0.1.6
scanpy==1.10.3
pandas==2.2.1
anndata==0.10.6
werkzeug==2.0.2
watchfiles
numcodecs==0.15.1    # 0.16.0 calls an import removed from 0.15.0