:root {
    --banner-bg-color: #2F0F3E;
    --dataset-panel-header-bg-color: #2F0F3E;
    --global-visited-links: #2A3236;
    --main-intro-search-nav-bg-color: #2F0F3E;
    --main-search-list-selected-gene: #2F0F3E;
    --main-section-launcher-bg-color-active: #2F0F3E;
    --main-section-launcher-bg-color-inactive: #ABA9BF;
}
