:root {
    --banner-bg-color: #006838;
    --dataset-panel-header-bg-color: #006838;
    --global-visited-links: #009dcd;
    --main-intro-search-nav-bg-color: #006838;
    --main-search-list-selected-gene: #006838;
    --main-section-launcher-bg-color-active: #006838;
    --main-section-launcher-bg-color-inactive: #f6d55c;
}
