anndata==0.7.3
Flask==1.0.2
h5py==2.10.0
mysql-connector-python==8.0.20
numpy==1.18.5
pandas==1.0.4
plotly==3.7.1
scanpy==1.5.1
scipy==1.4.1
SQLAlchemy==1.2.12
Flask-RESTful==0.3.6
matplotlib==3.2.1
mod-wsgi==4.6.5
opencv-python==4.2.0.34
pathlib==1.0.1
anndata==0.7.1  # Installed through scanpy
h5py==2.10.0    # Installed through scanpy
matplotlib==3.2.1   # Installed through scanpy
scipy==1.4.1    # Installed through scanpy
