#scanpy[louvain]==1.4.6
#louvain==0.6.1  # Louvain has issue with setting RNG currently -> https://github.com/theislab/scanpy/issues/1191
### AVOIDING INSTALLING LOUVAIN FOR NOW UNTIL ISSUES ARE RESOLVED THERE
scanpy==1.8.2
#pandas==1.0.4
pandas==1.3.4
numba==0.50.1
llvmlite==0.33.0rc1   # For numba
#numpy==1.18.5
numpy==1.19.3
jupyter==1.0.0
xlrd==1.2.0
requests==2.23.0
plotly==4.14.3
kaleido==0.2.1
dash-bio==0.6.1
MulticoreTSNE==0.1
Pillow==7.1.1
biopython==1.76
biocode==0.9.0
python-dotenv==0.14.0
Flask==1.1.2
mysql-connector-python==8.0.12  # Using >8.0.18 gives a segmentation fault.  Need 8.0.20 for prod/devel/servers
SQLAlchemy==1.2.12
Flask-RESTful==0.3.8
mod-wsgi==4.9.0
#opencv-python==4.1.1.26
opencv-python==4.5.4.60
#anndata==0.7.3  # Installed through scanpy but that version breaks things
anndata==0.7.8
h5py==2.10.0    # Installed through scanpy but that version breaks things
#diffxpy==0.7.4
#selenium
#matplotlib==3.2.1   # Installed through scanpy
#scikit-learn==0.22.2    # Installed through scanpy
#scipy==1.4.1    # Installed through scanpy
