numpy==1.21.5
numexpr==2.8.1  # 2.8.0 is broken -> https://github.com/pydata/numexpr/issues/392
scanpy[louvain]==1.7.2  # uses louvain 0.7.1
pandas==1.4.1
numba==0.55.1
llvmlite==0.38.0   # For numba
jupyter==1.0.0
xlrd==1.2.0
requests==2.27.1
plotly==5.6.0
kaleido==0.2.1
dash-bio==1.0.2
MulticoreTSNE==0.1
Pillow==9.0.1
biopython==1.79
biocode==0.10.0
python-dotenv==0.20.0
Flask==2.1.0
itsdangerous==2.1.2 # See -> https://stackoverflow.com/a/71206978
mysql-connector-python==8.0.28
SQLAlchemy==1.4.32
Flask-RESTful==0.3.9
mod-wsgi==4.9.0
opencv-python==4.5.5.64
anndata==0.7.8
openpyxl==3.0.10
h5py==2.10.0    # Installed through scanpy but that version breaks things
rpy2==3.5.4 # Did not work with R 3.6.3, works with R 4.2.0
#rpy2==3.5.2 # Did not work with R 3.6.3, works with R 4.2.0
tables==3.7.0    # Read hdf5 files into pandas
#diffxpy==0.7.4
#selenium   # Browser testing
#needle # Visual regression testing
