<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Multigene Dataset Curator</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This is needed because mod_rewrite doesn't work well with relative paths.  This will need
             to be changed for any hosts where gEAR is not at the webserver root.
    -->
    <base href="/" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Ensures we always get a new version (during our current active development cycles) -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Efficient select-box tool -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Interactive tree structure -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script>document.write('<link rel="stylesheet" href="css/common.' + Math.floor(Math.random() * 10000000) + '.css"\><\/link>');</script>
    <script>document.write('<link rel="stylesheet" href="css/multigene_curator.' +  Math.floor(Math.random() * 10000000) + '.css"\><\/link>');</script>

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

  <body>
    <div id="body_c">
      <div id="navigation_bar">
         <!-- content here inserted via JQuery -->
      </div> <!-- end navigation_bar -->

      <div id="login_checking">
        <div class="col-12">
        <h2><img id="checking_indicator" src="img/loading_search.gif" alt="checking">Checking login status</h2>
        </div>
      </div>

      <div id="login_warning">
        <div class="col-12">
        <h2>Login required</h2>
        <p>
            You must be logged in to view a user profile.  Please use the login form in the top-right.
        </p>
        </div>
      </div>

    <main class="container-fluid">
      <div class="alert alert-dismissible fade show" id="delete_display_confirmation" style="display:none;">
        <p id="delete_display_confirmation_text"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div class="container">

      <!-- Dataset selection -->
      <fieldset class="form-group">
        <legend for="dataset">Dataset</legend>
        <div id="dataset_c" class="form-control dropdown" aria-describedby="dataset_help">
          <div id="dataset" value="" data-title="Click to change" class="text-truncate dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose dataset</div>
          <div class="dropdown-menu w-100" aria-labelledby="dataset">
            <form class="px-4 py-3">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <i class="fa fa-search input-group-text" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" id="dataset_tree_q" placeholder="Type to search datasets">
              </div>
              <div id="dataset_tree"></div>
            </form>
          </div>
        </div>  <!-- end dataset_c -->
        <small id="dataset_help" class="form-text text-muted">Select a dataset to use.</small>
      </fieldset>

      <!-- Plot type selection-->
      <fieldset class="form-group" id="plot_type_container">
        <legend for="plot_type_select">Plot type</legend>
        <div class="form-row">
          <select class="col-6 form-control" id="plot_type_select" aria-describedby="plot_type_help">
            <option></option>
            <option value="dotplot">Dotplot</option>
            <option value="heatmap">Heatmap</option>
            <option value="quadrant">Quadrant</option>
            <option value="mg_violin">Violin</option>
            <option value="volcano">Volcano</option>
          </select>
          <div class="col-6">
            <!-- Modal -->
            <span>or&ensp;</span>
            <button type="button" class="btn btn-outline-purple btn-sm mb-3" id="load_saved_plots" style="display:none;" data-toggle="modal" data-target="#load_plots_modal">Load a Saved Plot</button>
          </div>
        </div>
        <small id="plot_type_help" class="form-text text-muted">Select the type of plot to draw, or load an existing display.</small>
      </fieldset>

      <!-- Gene selection-->
      <fieldset class="form-group" id="gene_container">
        <legend for="gene_dropdown_container">Gene selection</legend>
        <div id="gene_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="form-group" id="gene_dropdown_container" aria-describedby="gene_selection_help"></div>
        <div class="form-group" id="gene_cart_container">
          <label for="gene_cart"><strong>or </strong>Load from gene cart</label>
          <div id="gene_cart_c" class="w-50 form-control dropdown">
            <div id="gene_cart" value="" data-title="Click to change" class="text-truncate dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose gene cart</div>
            <div class="dropdown-menu" aria-labelledby="gene_cart">
              <form class="px-4 py-3">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <i class="fa fa-search input-group-text" aria-hidden="true"></i>
                  </div>
                  <input type="text" class="form-control" id="gene_cart_tree_q" placeholder="Type to search gene carts">
                </div>
                <div id="gene_cart_tree"></div>
              </form>
            </div>
          </div>  <!-- end gene_cart_c -->
        </div>  <!-- end gene_cart_container -->
        <small id="gene_selection_help" class="form-text text-muted">Choose the genes to include in plot.</small>
        <div class="form-group row alert alert-warning" role="alert" id='genes_not_found' style="display:none;"></div>
      </fieldset>

      <fieldset id="options_container" style="display:none;">
        <legend for="options_container">Plot-specfic options</legend>
        <div id="options_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <!-- Observation group options -->
        <fieldset class="form-group" id="obs_dropdowns_container"></fieldset>
        <fieldset class="form-group" id="obs_groupby_container"></fieldset>
        <fieldset id="heatmap_options_container" style="display:none;">
          <div class="form-group">
            <label for="distance_select">Pairwise distance metric</label>
            <div class="form-row">
              <select class="form-control" id="distance_select" aria-describedby="distance_select_help">
                <!--<option value="braycurtis">Bray-Curtis</option>-->
                <option value="euclidean" selected="selected">Euclidean</option>
                <option value="cityblock">Manhattan (Cityblock)</option>
                <option value="minkowski">Minkowski</option>
              </select>
            </div>
            <small id="distance_select_help" class="form-text text-muted">Select the metric to compute the pairwise distance for genes, and if applicable, observations.</small>
          </div>
        </fieldset>
        <fieldset id="quadrant_options_container" style="display:none;">
          <div class="form-group">
            <label for="quadrant_compare1_condition">Comparison condition 1</label>
            <div class="form-row">
              <select id="quadrant_compare1_condition" class="form-control" aria-describedby="quadrant_compare1_help"></select>
            </div>
            <small id="quadrant_compare1_help" class="form-text text-muted">Select the first query condition to compare to the reference condition.</small>
          </div>
          <div class="form-group">
            <label for="quadrant_compare2_condition">Comparison condition 2</label>
            <div class="form-row">
              <select id="quadrant_compare2_condition" class="form-control" aria-describedby="quadrant_compare2_help"></select>
            </div>
            <small id="quadrant_compare2_help" class="form-text text-muted">Select the second query condition to compare to the reference condition.</small>
          </div>
          <div class="form-group">
            <label for="quadrant_ref_condition">Reference condition</label>
            <div class="form-row">
              <select id="quadrant_ref_condition" class="form-control" aria-describedby="quadrant_ref_help"></select>
            </div>
            <small id="quadrant_ref_help" class="form-text text-muted">Select the reference condition to compare to each of the query conditions.</small>
          </div>
          <div class="form-group">
            <label for="quadrant_foldchange_cutoff">Fold-change cutoff</label>
            <input id="quadrant_foldchange_cutoff" class="form-control w-25" type="number" value="2" min="0" aria-describedby="quadrant_foldchange_help">
            <small id="quadrant_foldchange_help" class="form-text text-muted">Choose the fold-change threshold that a query/ref comparison must exceed to be included. Will be converted to log2 in plot.</small>
          </div>
          <div class="form-group">
            <label for="quadrant_fdr_cutoff">FDR cutoff</label>
            <input id="quadrant_fdr_cutoff" class="form-control w-25" type="number" value="0.05" min="0" max="1" aria-describedby="quadrant_fdr_help">
            <small id="quadrant_fdr_help" class="form-text text-muted">Choose the FDR (or qval) threshold a query/ref comparison must be under to be considered. Used in tandem with FDR cutoff.</small>
          </div>
        </fieldset>

        <fieldset id="volcano_options_container" style="display:none;">
          <div class="form-group">
            <label for="volcano_query_condition">Query condition</label>
            <div class="form-row">
              <select id="volcano_query_condition" class="form-control" aria-describedby="volcano_query_help"></select>
            </div>
            <small id="volcano_query_help" class="form-text text-muted">Select the query condition.</small>
          </div>
          <div class="form-group">
            <label for="volcano_ref_condition">Reference condition</label>
            <div class="form-row">
              <select id="volcano_ref_condition" class="form-control" aria-describedby="volcano_ref_help"></select>
            </div>
            <small id="volcano_ref_help" class="form-text text-muted">Select the reference condition. Condition must come from the same observation as query condition.</small>
          </div>
        </fieldset>

        <div class="form-group" id="de_test_container">
          <label for="de_test_select">Differential expression test</label>
          <select class="form-control" id="de_test_select" aria-describedby="de_test_help">
            <option value="t-test" selected="selected">Welch's t-test</option>
            <option value="rank">Wilcoxon rank-sum test</option>
          </select>
          <small id="de_test_help" class="form-text text-muted">Select the differential expression testing algorithm to determine significance.</small>
        </div>

        <!-- Advanced Options -->
        <fieldset class="form-group" id="advanced_options_container" style="display:none;">
          <button class="btn btn-outline-purple btn-sm" type="button" data-toggle="collapse" id="advanced_options_button" data-target="#advanced_options_collapsable" role="button" aria-expanded="false" aria-controls="advanced_options_collapsable">
          Advanced Options <i class="fa fa-caret-down" aria-hidden="true" id="advanced_options_arrow"></i>
          </button>
          <div class="collapse" id="advanced_options_collapsable">
            <div class="form-group" id="cluster_cols_checkbox_container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cluster_cols">
                <label class="form-check-label" for="cluster_cols">
                  Also cluster observation samples
                </label>
              </div>
            </div>
            <div class="form-group" id="flip_axes_checkbox_container">
              <div class="form-check" aria-describedby="flip_axes_help">
                <input class="form-check-input" type="checkbox" value="" id="flip_axes">
                <label class="form-check-label" for="flip_axes">
                  Flip genes and observations axes
                </label>
              </div>
              <small id="flip_axes_help" class="form-text text-muted">Genes as columns, observations as rows.</small>
            </div>
            <div class="form-group" id="adjusted_pvals_checkbox_container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" checked value="" id="adj_pvals">
                <label class="form-check-label" for="adj_pvals">
                  Use adjusted p-values (q-values) instead of raw p-values
                </label>
              </div>
            </div>
            <div class="form-group" id="annot_nonsig_checkbox_container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" checked value="" id="annot_nonsig">
                <label class="form-check-label" for="annot_nonsig">
                  Annotate nonsignificant genes.
                </label>
              </div>
            </div>
            <div class="form-group" id="include_zero_foldchange_container">
              <div class="form-check" aria-describedby="include_zero_help">
                <input class="form-check-input" type="checkbox" checked value="" id="include_zero_foldchange">
                <label class="form-check-label" for="include_zero_foldchange">
                  Include genes where the query and ref expression is equal
                </label>
              </div>
              <small id="include_zero_help" class="form-text text-muted">Include genes where the query and ref fold change ratio is 1 (log2FC = 0). This condition supercedes the fold-change threshold and adds these genes to that filtered set.</small>
            </div>
            <div class="form-group" id="stack_violins_container">
              <div class="form-check" aria-describedby="stack_violins_help">
                <input class="form-check-input" type="checkbox" value="" id="stack_violins">
                <label class="form-check-label" for="stack_violins">
                  Create stacked violin plot
                </label>
              </div>
              <small id="stack_violins_help" class="form-text text-muted">Each cluster is its own violin plot</small>
            </div>
          </div>
        </fieldset>
      </fieldset> <!-- end options -->

      <!-- Action buttons-->
      <button type="button" class="btn btn-outline-purple my-3" id="reset_opts" style="display:none;">Reset Options</button>
      <button type="button" class="btn btn-purple my-3" id="create_plot" style="display:none;">Create Plot</button>
      <br>
    </div> <!-- end container -->
    </main>

    <!-- Plots and post-plot things -->
    <div class="row container-fluid">
      <div id="dataset_plot" class="col-10"></div>
      <aside id="post_plot_options" class="col-2" style="display:none;">
        <button type="button" class="btn btn-purple btn-sm btn-block" data-toggle="modal" data-target="#save_display_modal">Save New Display</button>
        <button type="button" class="btn btn-purple btn-sm btn-block" data-toggle="modal" data-target="#save_genes_modal" id="selected_genes_btn" disabled>Save New Genecart</button>
        <button type="button" class="btn btn-purple btn-sm btn-block" data-toggle="modal" data-target="#download_plot_modal">Download Image</button>
      </aside>
    </div>
    <div id="supplementary_plot"></div>

    <footer>
      <div id='funding'>
        <!-- content here inserted via common.js -->
      </div>
    </footer>
    </div> <!-- /body_c -->

    <!-- Modals -->

    <!-- Load plots modal-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Choose saved display to load" aria-hidden="true" id="load_plots_modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Available saved plot displays</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="saved_display_modal" class="modal-body"></div>
        </div>
      </div>
    </div>  <!-- end load plots modal-->
    <!-- Save display modal -->
    <div class="modal fade" id="save_display_modal" tabindex="-1" role="dialog" aria-labelledby="save_display_label" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="save_display_label">Save Plot Display</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="display_name">
                New display name
              </label>
              <input class="form-control" id="display_name" placeholder="Enter name for saved display">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked value="" id="save_as_default_check">
              <label class="form-check-label" for="save_as_default_check">
                Save display as default display for this dataset
              </label>
            </div>
            <br />
            <p id="saved_plot_confirmation" style="display:none;"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-purple" id="save_display_btn">Save new display</button>
          </div>
        </div>
      </div>
    </div> <!-- save_display_modal -->

    <!-- Download plot modal -->
    <div class="modal fade" id="download_plot_modal" tabindex="-1" role="dialog" aria-labelledby="download_plot_label" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="download_plot_label">Image Download Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <label class=" col-6" for="plot_download_height">Height (in px)</label>
              <input id="plot_download_height" type="number" min=1 step=1 class="form-control col-2" value=450 >
            </div>
            <div class="form-row">
              <label class=" col-6" for="plot_download_width">Width (in px)</label>
              <input id="plot_download_width" type="number" min=1 step=1 class="form-control col-2" value=700>
            </div>
            <div class="form-row">
              <label class=" col-6" for="plot_download_scale">Scale plot size</label>
              <input id="plot_download_scale" type="number" class="form-control col-2" value=1>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-purple" id="download_plot">Download Image</button>
          </div>
        </div>
      </div>
    </div>  <!-- end download_plot_modal -->

    <!-- Save gene cart modal -->
    <div class="modal fade" id="save_genes_modal" tabindex="-1" role="dialog" aria-labelledby="save_genes_label" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="save_genes_label">Save Gene Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <input id="gene_cart_name" class="form-control" placeholder="Enter name for saved gene cart">
              <label class="form-check-label" for="gene_cart_name">
                New gene cart name
              </label>
            </div>
            <h3>Selected Genes:</h3>
            <ul id="selected_genes_list">
            </ul>
            <br />
            <p id="saved_gene_cart_confirmation" style="display:none;"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-purple" id="save_gene_cart">Save as gene cart</button>
          </div>
        </div>
      </div>
    </div> <!-- end save_genes_modal-->
    <!-- end modals-->

    <script id="gene_dropdown_tmpl" type="text/x-jsrender">
      <label for="gene_dropdown">Gene symbols</label>
      <div class="form-row">
        <select id="gene_dropdown" class="form-control" multiple="multiple">
          {{for genes}}
          <option value="{{:#data}}">{{:#data}}</option>
          {{/for}}
        </select>
      </div>
    </script>

    <script id="obs_groupby_tmpl" type="text/x-jsrender">
      <label for="groupby_obs_dropdown">Group by category</label>
      {{props}}
      <div class="form-check">
        <input class="form-check-input js-obs-groupby" type="radio" name="obs_groupby" id="{{:key}}_groupby" value="{{:key}}">
        <label class="form-check-label" for="{{:key}}_groupby">{{:key}}</label>
      </div>
      {{/props}}
      <small id="group_by_help" class="form-text text-muted">Determine category to group by before plotting.</small>
    </script>

    <!-- Declare a JsRender template, in a script block: -->
    <script id="obs_dropdowns_tmpl" type="text/x-jsrender">
      <div class="form-group">
        <label>Filter by category</label>
        {{props}}
          {{!-- key is categorical observation, prop is the list of unique categories --}}
          <div class="row form-group" id="{{:key}}_div">
            <label class="col-2" for="{{:key}}_dropdown">{{:key}}</label>
            <select id="{{:key}}_dropdown" class="js-obs-levels col form-control" multiple="multiple">
              {{props prop}}
                {{!-- key is list index, prop is the value --}}
                <option value="{{:prop}}">{{:prop}}</option>
              {{/props}}
            </select>
            <button type='button' class="close all col-1" id="{{:key}}_all" aria-label="Choose all {{:key}} categories"> All</button>
          </div>
        {{/props}}
        <small id="filter_by_help" class="form-text text-muted">Select which groups for a category to include, or click "All" to use all groups.</small>
      </div>
    </script>

    <script id="select_conditions_tmpl" type="text/x-jsrender">
      <option></option>
      {{props
        itemVar="~category"
      }}
      {{!-- key is categorical observation, prop is the list of unique categories --}}
      <optgroup label="{{:key}}">
        {{props prop}}
          {{!-- key is list index, prop is the value --}}
          <option value="{{:~category.key}};-;{{:prop}}">{{:prop}}</option>
        {{/props}}
      </optgroup>
      {{/props}}
    </script>

    <script id="dataset_plot_tmpl" type="text/x-jsrender">
      <div id="dataset_{{:dataset_id}}" class="dataset_c">
        <div id="dataset_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div id='dataset_{{:dataset_id}}_h5ad' class="plot-container plotly-container h5ad-container"></div>
        <div class="alert alert-error js-plot-error" role="alert" style="display:none;"></div>
        <div class="alert alert-warning js-plot-warning" role="alert" style="display:none;"></div>
      </div>
    </script>

    <script id="supplementary_plot_tmpl" type="text/x-jsrender">
      <div id="dataset_{{:dataset_id}}_supplementary" class="dataset_c">
        <div id="supplementary_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div id='dataset_{{:dataset_id}}_secondary' class="plot-container plotly-container h5ad-container"></div>
        <div class="alert alert-danger js-plot-error" role="alert" style="display:none;"></div>
        <div class="alert alert-warning js-plot-warning" role="alert" style="display:none;"></div>
      </div>
    </script>

    <script id="selected_genes_tmpl" type="text/x-jsrender">
      <li class="text-truncate">{{:gene_symbol}}</li>
    </script>

    <script id="saved_display_modal_tmpl" type="text/x-jsrender">
      {{if !user_displays.length && !owner_displays.length}}
        <p>There are no saved multigene displays for this dataset.</p>
      {{/if}}
      {{if user_displays.length}}
        <h3>Your Displays</h3>
        <div class='row m-1 col-sm-12'>
          {{for user_displays}}
          <div class="card col-4" style="width: 18rem;">
            <div class="card-header bg-transparent">
              <h4>{{:label}}</h4>
            </div>
            <img id='modal-display-{{:id}}-loading' class='card-img-top modal-display-loading img-fluid' src='img/loading_search.gif' alt='loading' />
            <img id='modal-display-img-{{:id}}' class='card-img-top'/>
            <div class="card-footer bg-transparent">
              {{if is_default }}
              <button type="button" class="badge btn-secondary btn js-current-default" disabled id="{{:id}}_default">Default</button>
              {{else}}
              <button type="button" class="badge btn-purple btn js-save-default" id="{{:id}}_default">Make Default</button>
              {{/if}}
              <button type="button" class="badge btn-purple btn js-load-display" id="{{:id}}_load">Edit</button>
              <button type="button" class="badge badge-danger btn js-delete-display" id="{{:id}}_delete">Delete</button>
            </div>
          </div>
          {{/for}}
        </div>
      {{/if}}
      {{if owner_displays.length}}
          <h3>Owner Displays</h3>
          <div class='row m-1 col-sm-12'>
            {{for owner_displays}}
            <div class="card col-4" style="width: 18rem;">
              <div class="card-header bg-transparent">
                <h4>{{:label}}</h4>
              </div>
              <img id='modal-display-{{:id}}-loading' class='card-img-top modal-display-loading img-fluid' src='img/loading_search.gif' alt='loading' />
              <img id='modal-display-img-{{:id}}' class='card-img-top'/>
              <div class="card-footer bg-transparent">
                {{if is_default }}
                <button type="button" class="badge btn-secondary btn js-current-default" disabled id="{{:id}}_default">Default</button>
                {{else}}
                <button type="button" class="badge btn-purple btn js-save-default" id="{{:id}}_default">Make Default</button>
                {{/if}}
                <button type="button" class="badge btn-purple btn js-load-display" id="{{:id}}_load">Edit</button>
              </div>
            </div>
            {{/for}}
          </div>
      {{/if}}
      <div class="alert alert-dismissible fade show" id="saved_default_confirmation" style="display:none;">
        <p id="saved_default_confirmation_text"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="js/vendor/js.cookie.js"></script>

    <!-- Load JsRender latest version, from www.jsviews.com: -->
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Plotly JS-->
    <script src="https://cdn.plot.ly/plotly-1.54.1.min.js"></script>

    <!-- JStree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <!-- Helps ensure the user gets the latest code, needed while we're pushing out so many updates -->
    <script>document.write('<script src="js/common.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/user.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/gene.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/genecart.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/tree.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/multigene_curator.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59916932-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59916932-1');
    </script>

  </body>
</html>
