<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Multigene Dataset Curator</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This is needed because mod_rewrite doesn't work well with relative paths.  This will need
             to be changed for any hosts where gEAR is not at the webserver root.
    -->
    <base href="/" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Ensures we always get a new version (during our current active development cycles) -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Efficient select-box tool -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Interactive tree structure -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script>document.write('<link rel="stylesheet" href="css/common.' + Math.floor(Math.random() * 10000000) + '.css"\><\/link>');</script>
    <script>document.write('<link rel="stylesheet" href="css/multigene_curator.' +  Math.floor(Math.random() * 10000000) + '.css"\><\/link>');</script>

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

  <body>
    <div id="body_c">
      <div id="navigation_bar">
         <!-- content here inserted via JQuery -->
      </div> <!-- end navigation_bar -->

      <div id="login_checking">
        <div class="col-12">
        <h2><img id="checking_indicator" src="img/loading_search.gif" alt="checking">Checking login status</h2>
        </div>
      </div>

      <div id="login_warning">
        <div class="col-12">
        <h2>Login required</h2>
        <p>
            You must be logged in to view a user propfile.  Please use the login form in the top-right.
        </p>
        </div>
      </div>

    <main class="container-fluid">
      <div class="alert alert-dismissible fade show" id="delete_display_confirmation" style="display:none;">
        <p id="delete_display_confirmation_text"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div class="container">

      <!-- Dataset selection -->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="dataset_select">Dataset</label>
        <span class="col-1" data-toggle="tooltip" data-placement="top" title="Select the dataset to use.">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <select class="col form-control" id="dataset_select">
          <option></option>
          <optgroup id="dataset_ids_user" label="Your datasets">
            <option class="user-initial" disabled>None found</option>
          </optgroup>
          <optgroup id="dataset_ids_shared_with_user" label="Shared with you">
            <option class="user-initial" disabled>None found</option>
          </optgroup>
          <optgroup id="dataset_ids_public" label="Public datasets">
            <option disabled>None found</option>
          </optgroup>
        </select>
      </div>

      <!-- Modal -->
      <button type="button" class="btn btn-outline-purple btn-sm mb-3" id="load_saved_plots" style="display:none;" data-toggle="modal" data-target="#load_plots_modal">Load a Saved Plot</button>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Choose saved display to load" aria-hidden="true" id="load_plots_modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Available saved plot displays</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="saved_display_modal" class="modal-body"></div>
          </div>
        </div>
      </div>

      <!-- Plot type selection-->
      <div class="form-group row" id="plot_type_container">
        <label class="col-2 col-form-label" for="plot_type_select">Plot type</label>
        <span class="col-1" data-toggle="tooltip" data-placement="top" title="Select the type of plot to draw.">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <select class="col form-control" id="plot_type_select">
          <option></option>
          <option value="heatmap">Heatmap</option>
          <option value="mg_violin">Violin</option>
          <option value="volcano">Volcano Plot</option>
        </select>
      </div>

      <div id="options_spinner" style="display:none;">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>

      <!-- Gene selection-->
      <fieldset id="gene_container">
        <div class="row" id="gene_dropdown_container"></div>
        <div class="form-group row" id="gene_cart_container">
          <label class="col-2 col-form-label" for="selected_gene_cart">or Load from Gene Cart</label>
          <span class="col-1" data-toggle="tooltip" data-placement="top" title="Optionally load an entry from the saved gene cart to add all genes found in this dataset to the above search.">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          <div id="selected_gene_cart_c" class="col-3 form-control dropdown">
            <span id="selected_gene_cart" value="" data-title="Click to change" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose gene cart</span>
            <div class="dropdown-menu" aria-labelledby="selected_gene_cart">
              <form class="px-4 py-3">
                <input type="text" id="selected_gene_cart_tree_q" placeholder="Type to search profiles">
                <div id="selected_gene_cart_tree"></div>
              </form>
            </div>
          </div>  <!-- end selected_gene_cart_c -->
        </div>  <!-- end gene_cart_container -->
        <div class="form-group row alert alert-warning" role="alert" id='genes_not_found' style="display:none;"></div>
      </fieldset>

      <fieldset id="options_container" style="display:none;">
        <!-- Observation group options -->
        <fieldset class="form-group" id="obs_dropdowns_container"></fieldset>
        <fieldset class="form-group row" id="obs_groupby_container"></fieldset>
        <fieldset class="form-group" id="volcano_options_container" style="display:none;">
          <div class="form-group row">
            <label class="col-2 col-form-label" for="volcano_query_condition">Query Condition</label>
            <span class="col-1" data-toggle="tooltip" data-placement="top" title="Select the first condition">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
            <select id="volcano_query_condition" class="col form-control"></select>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="volcano_ref_condition">Reference Condition</label>
            <span class="col-1" data-toggle="tooltip" data-placement="top" title="Select the second condition">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
            <select id="volcano_ref_condition" class="col form-control"></select>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="de_test_select">Differential Expression Test</label>
            <span class="col-1" data-toggle="tooltip" data-placement="top" title="Select the differential expression testing algorithm to determine significance.">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
            <select class="col form-control" id="de_test_select">
              <option></option>
              <option value="t-test">Welch's t-test</option>
              <option value="rank">Wilcoxon rank-sum test</option>
            </select>
          </div>
        </fieldset>

        <!-- Advanced Options -->
        <fieldset class="form-group" id="advanced_options_container" style="display:none;">
          <button class="btn btn-outline-purple btn-sm" type="button" data-toggle="collapse" id="advanced_options_button" data-target="#advanced_options_collapsable" role="button" aria-expanded="false" aria-controls="advanced_options_collapsable">
          Advanced Options <i class="fa fa-caret-down" aria-hidden="true" id="advanced_options_arrow"></i>
          </button>
          <div class="collapse" id="advanced_options_collapsable">
            <div class="form-group row" id="cluster_cols_checkbox_container">
              <span class="col-1 offset-2" data-toggle="tooltip" data-placement="top" title="Click checkbox if you wish to cluster observation groups, in addition to genes.  Otherwise only genes are clustered.">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <div class="col-9 form-check">
                <input class="form-check-input" type="checkbox" value="" id="cluster_cols">
                <label class="form-check-label" for="cluster_cols">
                  Also cluster observation groups
                </label>
              </div>
            </div>
            <div class="form-group row" id="adjusted_pvals_checkbox_container">
              <span class="col-1 offset-2" data-toggle="tooltip" data-placement="top" title="Check to use adjusted p-values instead of raw ones">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <div class="col-9 form-check">
                <input class="form-check-input" type="checkbox" value="" id="adj_pvals">
                <label class="form-check-label" for="adj_pvals">
                  Use adjusted p-values (q-values) instead of raw p-values
                </label>
              </div>
            </div>
            <div class="form-group row" id="annot_nonsig_checkbox_container">
              <span class="col-1 offset-2" data-toggle="tooltip" data-placement="top" title="Check to include annotations of all nonsignificant gene symbols from the input set">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <div class="col-9 form-check">
                <input class="form-check-input" type="checkbox" checked value="" id="annot_nonsig">
                <label class="form-check-label" for="annot_nonsig">
                  Annotate nonsignificant genes.
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset> <!-- end options -->

      <!-- Action buttons-->
      <button type="button" class="btn btn-purple my-3" id="update_plot" style="display:none;">Update Plot</button>
      <button type="button" class="btn btn-purple my-3" id="reset_opts" style="display:none;">Reset Options</button>
      <br>
      <div id="save_functions"></div>
    </div> <!-- end container -->
    </main>

    <!-- Plots -->
    <div class="row">
      <div id="dataset_plot" class="col-8"></div>
      <div class="col-4">
        <fieldset id="selected_genes_c" style="display:none;">
          <legend>Selected Genes to Gene Cart</legend>
          <div class="form-group">
            <input id="gene_cart_name" class="form-control" placeholder="Enter name for saved gene cart">
          </div>
          <button type="button" class="btn btn-purple mb-3" id="save_gene_cart">Save as gene cart</button>
          <br>
          <p id="saved_gene_cart_confirmation" style="display:none;"></p>
          <h3>Selected Genes:</h3>
          <ul id="selected_genes_list">
          </ul>
        </fieldset> <!-- end selected_genes_c-->
        <fieldset id="plot_download_opts" style="display:none;">
          <legend>Image Download Options</legend>
          <div class="form-row">
            <label class="col-form-label col-3" for="plot_download_height">Height (in px)</label>
            <input id="plot_download_height" class="form-control col-2" value=450 >
          </div>
          <div class="form-row">
            <label class="col-form-label col-3" for="plot_download_width">Width (in px)</label>
            <input id="plot_download_width" class="form-control col-2" value=700>
          </div>
          <div class="form-row">
            <label class="col-form-label col-3" for="plot_download_scale">Scale plot size</label>
            <input id="plot_download_scale" class="form-control col-2" value=1>
          </div>
          <button type="button" class="btn btn-purple mb-3" id="download_plot">Download Image</button>
        </fieldset>
      </div>

    </div>
    <div id="supplementary_plot" class="row"></div>

    <footer>
      <div id='funding'>
        <!-- content here inserted via common.js -->
      </div>
    </footer>
    </div> <!-- /body_c -->

    <script id="dataset_list_tmpl" type="text/x-jsrender">
      <option value="{{:id}}">{{:title}}</option>
    </script>

    <script id="gene_dropdown_tmpl" type="text/x-jsrender">
      <label class="col-2 col-form-label" for="gene_dropdown">Gene Symbols</label>
      <span class="col-1" data-toggle="tooltip" data-placement="top" title="In heatmaps and violin plots, only these genes are shown. In volcano plots, these genes are annotated.">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      <select id="gene_dropdown" class="col form-control" multiple="multiple">
        {{for genes}}
        <option value="{{:#data}}">{{:#data}}</option>
        {{/for}}
      </select>
    </script>

    <script id="obs_groupby_tmpl" type="text/x-jsrender">
      <label class="col-2 col-form-label" for="groupby_obs_dropdown">Group by Category</label>
      <span class="col-1" data-toggle="tooltip" data-placement="top" title="If a category is checked, the heatmap will display the mean expression for each group in this category instead of the raw expression for all filtered observations">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      {{props}}
      <div class="form-check form-check-inline col">
        <input class="form-check-input js-obs-groupby" type="radio" name="obs_groupby" id="{{:key}}_groupby" value="{{:key}}">
        <label class="form-check-label" for="{{:key}}_groupby">{{:key}}</label>
      </div>
      {{/props}}
    </script>

    <!-- Declare a JsRender template, in a script block: -->
    <script id="obs_dropdowns_tmpl" type="text/x-jsrender">
      <div class="row">
        <legend class="col-2 col-form-label">Filter by Category</legend>
        <span class="col-1" data-toggle="tooltip" data-placement="top" title='Select which groups for a category to filter by, or click "All" to use all groups.'>
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <div class="col-9">
        {{props}}
          {{!-- key is categorical observation, prop is the list of unique categories --}}
          <div class="row form-group" id="{{:key}}_div">
            <label class="col-2 col-form-label" for="{{:key}}_dropdown">{{:key}}</label>
            <select id="{{:key}}_dropdown" class="js-obs-levels col form-control" multiple="multiple">
              {{props prop}}
                {{!-- key is list index, prop is the value --}}
                <option value="{{:prop}}">{{:prop}}</option>
              {{/props}}
            </select>
            <button type='button' class="close all col-1" id="{{:key}}_all" aria-label="Choose all {{:key}} categories"> All</button>
          </div>
        {{/props}}
        </div>
      </div>
    </script>

    <script id="volcano_options_tmpl" type="text/x-jsrender">
      <option></option>
      {{props
        itemVar="~category"
      }}
      {{!-- key is categorical observation, prop is the list of unique categories --}}
      <optgroup label="{{:key}}">
        {{props prop}}
          {{!-- key is list index, prop is the value --}}
          <option value="{{:~category.key}};-;{{:prop}}">{{:prop}}</option>
        {{/props}}
      </optgroup>
      {{/props}}
    </script>

    <script id="dataset_plot_tmpl" type="text/x-jsrender">
      <div id="dataset_{{:dataset_id}}" class="dataset_c">
        <div id="dataset_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div id='dataset_{{:dataset_id}}_h5ad' class="plot-container plotly-container h5ad-container"></div>
        <div class="alert alert-error js-plot-error" role="alert" style="display:none;"></div>
        <div class="alert alert-warning js-plot-warning" role="alert" style="display:none;"></div>
      </div>
    </script>

    <script id="supplementary_plot_tmpl" type="text/x-jsrender">
      <div id="dataset_{{:dataset_id}}_supplementary" class="dataset_c">
        <div id="supplementary_spinner" style="display:none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div id='dataset_{{:dataset_id}}_secondary' class="plot-container plotly-container h5ad-container"></div>
        <div class="alert alert-error js-plot-error" role="alert" style="display:none;"></div>
        <div class="alert alert-warning js-plot-warning" role="alert" style="display:none;"></div>
      </div>
    </script>

    <script id="save_plot_tmpl" type="text/x-jsrender">
      <form id="save_display_form">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="display_name">Display Name</label>
          <span class="col-1"></span>
          <input class="col-3 form-control" id="display_name" placeholder="Enter name for saved display">
        </div>
        <button type="button" class="btn btn-purple" id="save_display_btn">Save new {{:plot_type}}</button>
        <p id="saved_plot_confirmation" style="display:none;"></p>
      </form>
    </script>

    <script id="selected_genes_tmpl" type="text/x-jsrender">
      <li class="text-truncate">{{:gene_symbol}}</li>
    </script>

    <script id="saved_display_modal_tmpl" type="text/x-jsrender">
      {{if !user_displays.length && !owner_displays.length}}
        <p>There are no saved multigene displays for this dataset.</p>
      {{/if}}
      {{if user_displays.length}}
        <h3>Your Displays</h3>
        <div class='row m-1 col-sm-12'>
          {{for user_displays}}
          <div class="card col-4" style="width: 18rem;">
            <div class="card-header bg-transparent">
              <h4>{{:label}}</h4>
            </div>
            <img id='modal-display-{{:id}}-loading' class='card-img-top modal-display-loading img-fluid' src='img/loading_search.gif' alt='loading' />
            <img id='modal-display-img-{{:id}}' class='card-img-top'/>
            <div class="card-footer bg-transparent">
              {{if is_default }}
              <button type="button" class="badge btn-secondary btn js-current-default" disabled id="{{:id}}_default">Default</button>
              {{else}}
              <button type="button" class="badge btn-purple btn js-save-default" id="{{:id}}_default">Make Default</button>
              {{/if}}
              <button type="button" class="badge btn-purple btn js-load-display" id="{{:id}}_load">Edit</button>
              <button type="button" class="badge badge-danger btn js-delete-display" id="{{:id}}_delete">Delete</button>
            </div>
          </div>
          {{/for}}
        </div>
      {{/if}}
      {{if owner_displays.length}}
          <h3>Owner Displays</h3>
          <div class='row m-1 col-sm-12'>
            {{for owner_displays}}
            <div class="card col-4" style="width: 18rem;">
              <div class="card-header bg-transparent">
                <h4>{{:label}}</h4>
              </div>
              <img id='modal-display-{{:id}}-loading' class='card-img-top modal-display-loading img-fluid' src='img/loading_search.gif' alt='loading' />
              <img id='modal-display-img-{{:id}}' class='card-img-top'/>
              <div class="card-footer bg-transparent">
                {{if is_default }}
                <button type="button" class="badge btn-secondary btn js-current-default" disabled id="{{:id}}_default">Default</button>
                {{else}}
                <button type="button" class="badge btn-purple btn js-save-default" id="{{:id}}_default">Make Default</button>
                {{/if}}
                <button type="button" class="badge btn-purple btn js-load-display" id="{{:id}}_load">Edit</button>
              </div>
            </div>
            {{/for}}
          </div>
      {{/if}}
      <div class="alert alert-dismissible fade show" id="saved_default_confirmation" style="display:none;">
        <p id="saved_default_confirmation_text"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="js/vendor/js.cookie.js"></script>

    <!-- Load JsRender latest version, from www.jsviews.com: -->
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Plotly JS-->
    <script src="https://cdn.plot.ly/plotly-1.54.1.min.js"></script>

    <!-- JStree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <!-- Helps ensure the user gets the latest code, needed while we're pushing out so many updates -->
    <script>document.write('<script src="js/common.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/user.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/gene.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/genecart.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/classes/tree.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>
    <script>document.write('<script src="js/multigene_curator.' + Math.floor(Math.random() * 10000000) + '.js"\><\/script>');</script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59916932-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59916932-1');
    </script>

  </body>
</html>
