/* ==========================================================================
   Author's custom styles for comment page
   ========================================================================== */

/* Center Success modal in window
	source: http://stackoverflow.com/a/20314330/2900840*/
.modal-dialog {
	position: absolute;
	left: 50%;
	margin-left: -312px;
	height: 500px;
	top:50%;
	margin-top: -250px;
}

.modal-body {
	text-align: center;
}

#success_glyphicon {
	color:#008000;
	font-size:20px;
}

.tokenize-sample {
	width: 300px;
}

