/* -------------------- */
/* -= General layout =- */

html, body {
    height: 100vh;
}

#main_layout_c {
    height: 100vh;
}

/* ---------------- */
/* -= Typography =- */



/* -------------------- */
/* -= Header section =- */

#header_bar {
    border-bottom: 1px solid rgb(200, 200, 200);
}

#navbar-login input {
    width: 15em;
}

/* -------------------- */
/* -= Left navbar section =- */

.menu-list .icon-text-part {
    transition: transform 0.3s, width 0.3s;
}

.menu-list .icon-text-part.is-collapsed {
    transform: translateX(-240px);
    width: 0;
}

/* ------------------ */
/* -= Other styles =- */

.card-content {
    font-size: 70%;
}
.card-header-title {
    font-size: 90%;
}
#citation_c {
    max-width: 200px;
}
.menu-list a {
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0 0.25rem 0;
    font-size: 90%;
}

.js-step-collapsable {
    display: none;
}

.step-active .js-step-collapsable {
    display: block;
}

/* "active step" class has same bg color as default disabled element color */
.select select[disabled], [disabled].input {
    border-color: grey;
    background-color: lightgrey;
}

.select.is-success select{
    border-color: #539400;  /* overwrite default success for .select */
}

.select.is-success:not(:hover)::after {
    border-color: #539400; /* overwrite default success for .select */
}

.select.is-danger select{
    border-color: #942400; /* overwrite default success for .select */
}

.select.is-danger:not(:hover)::after {
    border-color: #942400; /* overwrite default success for .select */
}

.js-tree {
    max-height: 300px;  /* a) addresses long lists and b) addresses https://github.com/mar10/wunderbaum/issues/57 */
}
