/* Keep at a reasonable length */
input[type=number] {
    width: 6em;
}

/* reflecting gEAR "select" form CSS to "nice-select" elements */
.select .nice-select {
    background-color: #EFEDF7;
    border-color: #544A8E;
    border-radius: 5px;
    color: #363636;
}

.is-fullwidth .nice-select{
    width:100%;
}

.nice-select::after {
    content: unset;     /* remove their version of dropdown arrow (behind the Bulma select arrow) */
}

.nice-select-dropdown {
    width: 100%;    /* Override auto-width setting by nice-select */
}

.nice-select .list {
    overflow-y: scroll; /* Make it apparent that there are more options */
    overflow-x: hidden;
}

/* match nice-select disabled state style with select style from common.css */
.select .nice-select.disabled {
    border-color: grey;
    background-color: lightgrey;
}


.nice-select .list::-webkit-scrollbar-thumb {
    background: #888;
}

.nice-select .list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.nice-select .list::-webkit-scrollbar {
    width: 10px;    /* overwrite nice-select default of 0 */
}

/* Track */
.nice-select .list::-webkit-scrollbar-track {
    background: #f1f1f1;
}