/* Keep at a reasonable length */
input[type=number] {
    width: 6em;
}

#post-plot-content-c {
    height:92vh;
}

/* override loader from the themed CSS */
.button.is-loading::after, .loader, .select.is-loading::after, .control.is-loading::after {
    border-color: black;
}

#gene-table-container {
    /* make table scrollable */
    overflow-y: auto;
    max-height: 50vh;
}