/* reflecting gEAR "select" form CSS to "nice-select" elements */
.select .nice-select {
    background-color: #EFEDF7;
    border-color: #544A8E;
    border-radius: 5px;
    color: #363636;
}

.select .select[disabled] {
    border-color: unset;    /* distinguish as being disabled */
}

.is-fullwidth .nice-select{
    width:100%;
}

.nice-select:after {
    content: unset;     /* remove their version of dropdown arrow (behind the Bulma select arrow) */
}
