/* reflecting gEAR "select" form CSS to "nice-select" elements */
.select .nice-select {
    background-color: #EFEDF7;
    border-color: #544A8E;
    border-radius: 5px;
    color: #363636;
}

/* "active step" class has same bg color as default disabled element color */
.select select[disabled], [disabled].input {
    border-color: grey;
    background-color: lightgrey;
}

.is-fullwidth .nice-select{
    width:100%;
}

.nice-select::after {
    content: unset;     /* remove their version of dropdown arrow (behind the Bulma select arrow) */
}

.nice-select-dropdown {
    width: 100%;    /* Override auto-width setting by nice-select */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Toast-style notifications for actual alerts */
.notification.js-toast {
    position: fixed;
    top: 30px;
    right: 10px;
    z-index:999;
}

#post_plot_adjustments select {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#params_summary {
    height:92vh;
}

#params_config_container {
    overflow-y:auto;
    overflow-x:hidden;
}

#order_container li {
    text-overflow: ellipsis;
}

/* Keep at a reasonable length */
input[type=number] {
    width: 4em;
}