div.chart_container {
    margin: 10px;
    padding: 10px;
}
div#demo_svg_container {
    margin-top: 50px;
}
div#slider_c {
    margin: 15px;
}
div#viewport {
    height: 400px;
}
h1 {
    color: #2F103E;
    font-size: 140%;
    font-weight: bold;
}
ul#gene_atts {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#gene_atts li {
    margin: 0;
    padding: 0;
}
ul#gene_atts span.label {
    color: rgb(0,0,0);
    font-size: 100%;
    font-weight: bold;
}
