/*
    Colors from template

    Highlighted background color: fbfcfd
    Highlighted background border: e9eef1
*/
div#annotation-and-grid-c h3 {
    font-weight: normal;
    font-size: 90%;
}
div#annotation-and-grid-c h3 span {
    font-weight: bold;
}
div.card-content {
    background-color: white;
    color: black;
    min-height: 20em;
}
div#extended-annotation-panel {
    border: 1px solid #e9eef1;
    border-style: rounded;
    height: 20em;
}
div#functional-annotation-c h3 {
    font-weight: bold;
    font-size: 90%;
}
div#gene-result-list-c {
    border-right: 1px solid #e9eef1;
}
div#gene-result-list-c h3 {
    font-weight: bold;
    font-size: 90%;
}
div#results-main-c {
    border-top: 1px solid rgb(220, 220, 220);
    margin-top: 50px;
}
div#result-panel-grid .card {
    /* https://github.com/jgthms/bulma/issues/218 */
    height: 100%;
    display: flex;
    flex-direction: column;
}
div#result-panel-grid .card-content {
    height: 100%;
}
section#annotation-panel,
section#result-panel {
    background-color: #fbfcfd;
    border: 1px solid #e9eef1;
}
section#annotation-panel h4 {
    font-weight: bold;
    font-size: 90%;
}
span.option-label {
    font-weight: bold;
    font-size: 90%;
}
ul#gene-result-list {
    list-style: none;
}
ul#gene-result-list li {
    padding: 0.3em 0 0.3em 1em;
    border-top: 1px solid #e9eef1;
    font-size: 90%;
}
ul#gene-result-list li:last-child {
    border-bottom: 1px solid #e9eef1;
}
ul#gene-result-list li.is-selected {
    /* TODO: Make this a variable */
    background-color: #483285;
    color: white;
}
ul#go-terms {
    max-height: 17em;
    overflow-y: scroll;
}
ul#go-terms li {
    border-bottom: 1px solid #e9eef1;
}

.card-image svg:last-child {
    margin-top:10%; /* this is shaky... current the main image is last but not guaranteed */
}