@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

// Brand colors
$gear-bg-primary: #362E5C;
$gear-bg-secondary: #544A8E;
$gear-bg-tertiary: #EFEDF7;
$gear-state-success: #E2FFBD;
$gear-state-error: #FFCDBD;
$gear-state-disabled: #D1D1D1;

// Update some of Bulma's global variables
$family-sans-serif: "Inter", sans-serif;
$primary: $gear-bg-primary;
$success: $gear-state-success;
$danger: $gear-state-error;

$menu-item-color: white;
$menu-item-active-background-color: $gear-bg-primary;
$menu-item-hover-color: $gear-bg-primary;
$menu-item-hover-backbround-color: white;

// Add some custom colors for use anywhere
// https://stackoverflow.com/questions/70885859/bulma-how-can-i-update-access-secondary-and-tertiary-color-variables
@import "../css/bulma/sass/utilities/derived-variables.sass";
$addColors: (
    "gear-bg-secondary": ($gear-bg-secondary, findColorInvert($gear-bg-secondary))
);
$colors: map-merge($colors, $addColors);

// Update some of Bulma's component variables
//$body-background-color: $gear-bg-secondary;
$body-background-color: white;

// Used (initialy) as the citation box
$card-color: white;
$card-header-color: white;
$card-header-padding: 0.25rem 0.5rem;
$card-background-color: $gear-bg-primary;
$card-content-padding: 0.5rem;

$input-background-color: $gear-bg-tertiary;
$input-border-color: $gear-bg-secondary;
$input-radius: 5px;

// Import what we need from Bulma
@import "../css/bulma/sass/utilities/_all.sass";
@import "../css/bulma/sass/base/_all.sass";
@import "../css/bulma/sass/elements/_all.sass";
@import "../css/bulma/sass/form/_all.sass";
@import "../css/bulma/sass/grid/_all.sass";
@import "../css/bulma/sass/helpers/_all.sass";
@import "../css/bulma/sass/components/_all.sass";
@import "../css/bulma/sass/layout/_all.sass";

// Bulma switch extension
// FROM "https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/src/sass/index.sass"
@import "../css/bulma/sass/bulma-switch.sass";

