div.guide-element {
    border-right: 1px solid rgb(200, 200, 200);
}
div.tabs-content li {
    display: none;
    list-style: none;
}
div.tabs-content li.is-active {
    display: block;
}
input#genes-manually-entered {
    width: 100%;
}
