a.domain_choice_c {
    font-size: 90%;
}
div.bargraph-standard-container,
div.linegraph-standard-container {
  padding: 0px 5px 0px 5px;
  /*flex: 1 0 auto;*/
  flex: 1 0 100%;
}
div.bargraph-standard-container div,
div.linegraph-standard-container div {
  max-height: 350px;
}
div#dataset_grid {
  display: flex;
  flex-wrap: wrap;
}
div.dataset_c {
  border: 1px solid #6d5777;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.dataset_header {
  background-color: var(--dataset-panel-header-bg-color);
  color: white;
  padding: 3px;
  margin: 0;
  min-height: 50px;
  max-height: 100px;
  font-size: 100%;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  flex: 1 0 auto;
}
div.dataset_header_menu {
  padding-left: 5px;
}
div.dataset_cc {
  margin-bottom: 10px;
  padding: 0 5px 0 5px;
  display: flex;
}
div.dataset-status-container {
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  background:rgb(179, 186, 206, 0.6); /* using this way to make transparent, so that hover child elts are not affected */
  overflow-wrap: normal;
  flex: 1 0 auto;
}
div.dataset-status-container h2 {
  width: 100%;
  color: #2f103e;
  position: absolute;
  bottom: calc(100% - 50%);
  opacity: 0.6;
}
div.empty-container {
  background-color: #ffffff;
}
div#gene_annotation_c {
  font-size: 90%;
  border: none;
  padding: 10px 0 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div#gene_details {
  padding: 0;
}
div#gene_details_header {
  background-color: #fff;
  border: 1px solid #6d5777;
  border-radius: 4px;
  color: #2f103e;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 3px;
  cursor: pointer;
}
div#gene_details_info {
  border: 1px solid #6d5777;
  border-radius: 5px;
  border-top: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
}
div#gene_details_c {
  margin: 10px 0 10px 0;
  padding: 0;
}
div#go_terms_c {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}
div#go_terms_table_c {
  overflow: auto;
}

div.h5ad-container {
  height: 350px;
}
div.input-group-text {
    padding: 6px 8px;
}
div.input-group-text img {
  width: 20px;
}
div#intro_content {
    background-color: rgb(220,220,220);
    padding: 30px 80px 30px 80px;
}
div#intro_search_c {
  padding: 20px 10px 20px 10px;
  margin: 20px 0 40px 0;
  color: white;
  font-size: 90%;
  border: 1px solid #aba9bf;
  border-radius: 5px;
}
.js-search:hover,
.js-exact-match:hover,
.js-multigene:hover,
.js-gene-cart-icon:hover {
  cursor: pointer;
}
div#intro_search_options_c h1 {
    color: rgb(0,0,0);
    font-size: 140%;
    font-weight: bold;
    margin: 15px 0 0 0;
    padding: 0;
}

div#leftbar_main,
div#viewport_main {
  display: none;
}
div.math-container {
  display: block;
  position: absolute;
  bottom: 0;
}
div.organism_icon_c img {
  height: 24px;
  width: 24px;
}
div.organism_icon_c img:hover {
  cursor: pointer;
}
div#primary_annotation_attributes {
  height: 260px;
}
div#primary_annotation_attributes dd {
  margin-bottom: 10px;
}
div#search_container {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
div#search_container h3 {
  margin-top: 25px;
}
div.search_result_c {
  display: block;
}
div#search_results .list-group-item-active {
  background-color: var(--main-search-list-selected-gene);
  color: white;
}
div.section_launcher {
    margin: 0 10px 0 10px;
    background-color: var(--main-section-launcher-bg-color-active);
    border-radius: 3px;
    position: relative;
}
div.section_launcher_double {
    height: 3.5em;
}
div.section_launcher_single {
    height: 2.5em;
}
div.section_launcher_notready {
    background-color: var(--main-section-launcher-bg-color-inactive);
}
div.section_launcher:hover {
    cursor: pointer;
}
div.section_launcher_label {
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
}
div.section_panel {
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    height: 300px;
}
div.section_panel h3 {
    font-size: 110%;
    color: black;
    font-weight: bold;
    margin: 5px 0 0 5px;
    padding: 0;
}
div.section_panel hr {
    margin: 5px 0 5px 0;
    padding: 0;
}
div.section_panel .img_c {
    padding: 20px;
}
div.section_panel p {
    margin: 5px 0 0 5px;
}
div.section_panels_row {
    margin-bottom: 10px;
}
div.sidebar_section {
  background-color: #e8ebee;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
div.sidebar_section h5 {
  color: #2f0f3e;
}
div#site_stats_c ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div#site_stats_c ul li {
  font-weight: bold;
  font-size: 120%;
  color: black;
}
div#site_stats_c ul span {
  font-weight: normal;
  padding-right: 10px;
  font-size: 100%;
  color: black;
}
div.svg_c_parent {
  overflow: hidden;
}
div.h5ad-svg-container {
    position: relative;
    height: 350px;
}
div.h5ad-svg-container-zoomed {
    position: relative;
    height: 60vh;
}
div.svg-content {
  display: flex;
  position: absolute;
  height: 98%;
  max-height: 80vh;
  width: 100%;
  left: 0;
  top: 0;
}
div.svg-content > svg {
    flex: 1;
}
div.svg-content svg:first-child {
    margin-top: 35px;
}
div#templates_c {
  display: none;
}
div.textarea-ldesc table {
    width: 100%;
    border-collapse: collapse;
}
div.textarea-ldesc table td,
div.textarea-ldesc table th {
    padding-left: 3px;
}
div.textarea-ldesc table td {
    border: 1px solid rgb(50,50,50);
}
div.textarea-ldesc table th {
    font-weight: bold;
}
div.tool_launcher_c:hover {
    cursor: pointer;
}
div.tool_launcher_c img {
    border: 1px solid rgb(220,220,220);
}
div#tutorials_c {
    background-color: var(--banner-bg-color);
    color: white;
}
div#tutorials_c h3 {
    color: white;
}
div#tutorials_c ul {
    margin-left: 15px;
}
div#tutorials_c ul li a {
    color: white;
}
div#tutorials_c ul li:before {
  content: '\0BB \020';
}
div#uploader_header_c {
    margin-top: 30px;
}
div#uploader_header_c hr {
    margin: 8px 0 15px 0;
}
div.youtube-video-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}
div.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.modal-display-loading {
    height: 50px;
}
img#selected_gene_car_loading {
    height: 20px;
}
input#exact_match_input {
  width: 5em;
}
label#exact_match_p,
label#coloring_p,
label#custom_coloring_p {
  font-weight: 400;
}
li.dataset-link-cellxgene {
    list-style-image: url('../img/dataset_link_icons/cellxgene.png');
    list-style-position: inside;
}
li.dataset-link-general {
    list-style-image: url('../img/dataset_link_icons/general.png');
    list-style-position: inside;
}
li.dataset-link-singlecellportal {
    list-style-image: url('../img/dataset_link_icons/singlecellportal.png');
    list-style-position: inside;
}
li.dropdown-submenu {
  position: relative;
}
li.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}
li.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
nav#profile_selector_c {
    margin-top: 10px;
}
p#dataset_browse_label {
    margin-top: 20px;
    padding-left: 30px;
}
p#dataset_browse_label a {
    font-size: 120%;
    font-weight: bold;
    color: var(--banner-bg-color);
}
p#intro_selected_profile_warning {
    padding-top: 10px;
}
span.citation_authors,
span.citation_code_and_license,
span.citation_pub,
span.citation_pmid {
    font-size: 90%;
}
span.corner-badge {
  /* Inspiration for badges: https://codepen.io/eode9/pen/twkKm */
  width: 45px;
  background: #ddd;
  position: absolute;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  border-radius: 4px;
  color: #060606;
}
span.data-raw {
  background: #401362;
  color: #f0f0f0;
}
span.data-raw:hover {
  background: #a28ca7;
}
span.data-log2 {
  background: #6f2a7d;
  color: #f0f0f0;
}
span.data-log2:hover {
  background: #a28ca7;
}
span.data-log10 {
  background: #c086a5;
  color: #f0f0f0;
}
span.data-log10:hover {
  background: #a28ca7;
}
svg {
  max-width: 100%;
  max-height: 100%;
}
svg.svg-gradient-container {
  z-index: -1;
}
table#annot-go_terms td {
  padding: 3px;
}
ul#doc-link-choices li:hover {
    cursor: pointer;
    font-weight: bold;
}
ul#links_out {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#links_out li {
  float: left;
  margin-right: 10px;
}
ul.math-options {
  min-width: 60px;
}
ul.math-options > li {
  padding-left: 0px;
}
ul.math-options > li > a {
  padding: 1px 7px;
}
div#tip {
  display: absolute;
  background: white;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}
li.scope_choice:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.grid-width-8 {
  padding-bottom: 36%;
}
.grid-width-12 {
  padding-bottom: 24%;
}
.axis path,
.axis tick,
.axis line {
  fill: none;
  stroke: none;
}

.modal-display:hover {
  cursor: pointer;
}

.active-display {
  border: solid #401362;
}

.btn-purple {
  color: white;
  background-color: #562a6f;
  border-color: #562a6f;
}

.datasetbox-menu li {
  white-space: nowrap;
  padding-right: 5px !important;  /* Give some cushion to the longest submenu name */
}

#projectr_paper_link {
  color: white;
}
