div#dropdown-dc div.dropdown-menu {
    min-width: 40rem !important;
}
div.guide-element {
    border-right: 1px solid rgb(200, 200, 200);
}
div#guides_c div.card-content{
    background-color: white;
    color: black;
    border-top: 1px solid rgb(200, 200, 200);
}
div#highlighted-datasets div.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
div#highlighted-datasets div.card-content {
    background-color: white;
}
div#highlighted-datasets div.card-footer {
    background-color: white;
    margin-top: auto;
}
div#highlighted-datasets div.dataset-attributes {
    margin-top: auto;
}
div#search-tabs-c {
    background-color: rgb(240,240,240);
    border-radius: 5px;
}
div.single-multi-choice-card .card-header {
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(200, 200, 200);
}
div.tabs-content li {
    display: none;
    list-style: none;
}
div.tabs-content li.is-active {
    display: block;
}
input#genes-manually-entered {
    width: 100%;
    background-color: white;
}

/*
    Dark purple:  #362e5c
    Mid purple:   #544a8e
    Light purple: 
*/
span.expression-search-step-number {
    font-size: 130%;
    font-weight: bold;
    color: #544a8e;
}