div.dropdown-menu {
    width: 60vw;
}
@media (min-width: 1320px) {
    div.dropdown-menu {
        width: 55vw;
    }
}
@media (min-width: 1440px) {
    div.dropdown-menu {
        width: 50vw;
    }
}
@media (min-width: 1580px) {
    div.dropdown-menu {
        width: 45vw;
    }
}
div.dropdown-item h3 {
    font-weight: bold;
    font-size: 120%;
}
div.dropdown-item div.column.is-scrollable {
    max-height: 40vh;
    overflow-y: scroll;
}
div.ul-li {
    border-radius: 0.5em;
    padding: 0.4em;
    margin-bottom: 0.2em;
}
div.ul-li.is-selected {
    background-color: #EFEDF7;
}
div#gene-select-dropdown-dynamic-selections {
    border: 1px solid rgb(200,200,200);
    border-radius: 0.5em;
    min-height: 4em;
}
div.guide_element {
    border-right: 1px solid rgb(200, 200, 200);
}
div.tabs-content li {
    display: none;
    list-style: none;
}
div.tabs-content li.is-active {
    display: block;
}
.icon-text {
    /* https://github.com/jgthms/bulma/issues/3635 */
    width: max-content;
}