div#login_checking,
div#login_warning {
    padding-bottom: 200px;
}
div#login_warning {
    display: none;
}
div#login_checking,
div#login_warning {
    margin-top: 50px;
}
img#checking_indicator {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
img.modal-display-loading {
    height: 50px;
}
main {
    margin-top: 45px;
}
label.control-label {
    margin: 8px 0 0 0;
}
.js-plotly-plot .plotly svg a {
    fill: inherit !important;  /* override plotly defaults */
}

.btn-purple {
    color: white;
    background-color: #562a6f;
    border-color: #562a6f;
}

.btn-purple:hover {
    background-color: #401362;
    border-color: #401362;
}

.btn-outline-purple {
    color: #562a6f;
    background-color: transparent;
    background-image: none;
    border-color: #562a6f;
}

.btn-outline-purple:hover {
    color: white;
    background-color: #401362;
    background-image: none;
    border-color: #401362;
}

#genes_list_bar {
    overflow-y: auto;
    height: 700px;  /* slightly less than dataset plot volcanoes/quadrants */
}

#selected_label {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;    /* To avoid text overlap with scrolling table */
}