div.control_block {
    margin-top: 25px;
}
div#projection_c {
    margin-top: 25px;
}
div#projection_pattern_elements_c {
    margin-top: 25px;
}
div#submitter_c {
    margin-top: 20px;
}
label.control-label {
    margin: 8px 0 0 0;
}
ul#projection_pattern_elements {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#projection_pattern_elements li {
    background-color: #E8EBEE;
    font-weight: bold;
    float: left;
    border: 1px solid rgb(100,100,100);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
ul#projection_pattern_elements li.active {
    background-color: #ABA9BF;
}    
