/* The 'size' attribute for Input tags with 'number' type is not valid. Adjust width instead */
input.input-length-2 {
    width: 2em;
}
input.input-length-4 {
    width: 4em;
}
input.input-length-6 {
    width: 6em;
}

#marker-genes-table-c {
    display: grid;
    /* see https://github.com/jgthms/bulma/issues/2572#issuecomment-523173866
    Addresses issue where table will overflow to right if it's in parent ".column"
    and some gene names in table cells are long */
}

.stick-to-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* steps-marker after is-active should not be clickable */
.is-active ~ .steps-segment {
    pointer-events: none;
}

/* blocked steps should not be clickable */
.steps-segment:has(.steps-marker.is-dark) {
    pointer-events: none;
}