
 /*
 Hide everything until sidepanel/popout divs are ready.
 Prevents 'flashing' of plain html.
 */
#body_c {
  display:none;
}

.label-default {
  background-color: #2F103E;
}
div#note_fullwindow_c {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}
div#note_fullwin_body_c {
  height: 95vh;
}
#no_selected_note_c {
  margin-top: 40vh;
  text-align: center;
}
#no_selected_note {
  font-size: 150%;
}

div#note_side_panel_c {
  display: none;
  position: fixed;
  /* vh = viewing height. Cool!
  Source: http://stackoverflow.com/a/16837667/2900840
  not 100. Need to account for nav bar */
  background-color: white;
  border: 1px solid #6D5777;
  /*box-shadow: -5px 0px 10px -1px rgba(148, 138, 138, 0.6);*/
  z-index: 100;
}
.dock-right {
  top: auto;
  left: auto;
  right: 0;
  height: 95vh;
  box-shadow: -5px 0px 10px -1px rgba(148, 138, 138, 0.6);

}
.dock-left {
  top: auto;
  left: 0;
  right: auto;
  height: 95vh;
  box-shadow: 5px 0px 10px -1px rgba(148, 138, 138, 0.6);

}
.dock-popout {
  top: 0;
  left: 0;
  right: auto;
  height: 100vh;
}
.is_popped_out {
  display: none;
}

div#panel_content_c {
  margin-left: 0px;
  margin-right: 0px;
}

div#note_side_panel_title_c {
  background-color: #2F103E;
  color: white;
  padding-right: 0;
  margin: 0;
  min-height: 50px;
  font-size: 100%;
  font-weight: bold;
}
div#note_fullwin_title_c {
  background-color: #2F103E;
  color: white;
  padding-right: 0;
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  /* Doesn't make sense but keeps this header equal to sidepanel's*/
  min-height: 51px;
  max-height: 50px;
}
#popout_dataset_title {
  font-size: 75%;
}
div#sidepanel_options_docked {
  padding-left: 0px;
}
div#sidepanel_options_popped {
  padding-left: 0px;
  display: none;
}

#position_dropdown_menu {
  top: -3px;
  right: 45px;
  left: auto;
  min-width: 100%;
  text-align: center;
}

/*
Rotate / Flip glyphicons
Source: http://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip
*/
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.note_header {
  font-size: 150%;
}
#note_header_c {
    padding: 0px 5px;
}
.dropdown-item > .glyphicon {
  color: black; /* makes sidepanel locations easier to see */
}

.note_dataset_title_c {
    padding: 0px 20px 5px 5px;
    margin-right: 20px;
}

.preview_title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.preview_date_c {
  padding-left: 0px;
}
.preview_date {
  margin-bottom: 0px;
}
.preview_access_c {
  padding-left: 0px;
  padding-right: 10px;
}
.preview_access {
  margin-top: 3px;
}
.preview_text {
  margin-bottom: 0px;
}

div#note_table_c {
  height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
}

tbody#note_table_body > tr {
  cursor: pointer;
}
tbody#note_table_body > tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
}

div.edit_note {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top:  5px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
  background-color: white;
}

#add_new_note_form,
.edit_form {
  display:flex;
  flex-direction: column;
  height: 100%;
}
.note_input_title_c,
.note_textarea_c,
.note_input_access_c,
.note_submit_c {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.note_input_title_c {
  max-height: 34px;
}
.note_textarea_c {
  flex: 3 1 auto;
}
.note_textarea_c > textarea {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.note_input_access_c {
  max-height: 60px;
}
.note_submit_c {
  display: block;
}

#edit_notes_c,
.able2edit,
.unable2edit,
.public_note_warning {
  display: none;
  height: 100%;
}

.public_note_ldesc {
  overflow-y: auto;
  /* adjust height to keep div within lower resolution screens */
  height: calc(100vh - 355px);
}

#note_side_panel_footer_c {
  position: absolute;
  /*right: 25px;*/
  /*bottom: 50px;*/
  right: 45px;
  bottom: 45px;
}

#add_note {
  /* Source for circular btn: http://bootsnipp.com/snippets/dKB*/
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1); /*http://bootsnipp.com/snippets/featured/circle-button-with-3d-shadow-and-hover-effect*/
}
