div.step-c {
	margin-top: 20px;
}
h1 {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 10px;
}
h3 {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 10px;
}
p.step-label {
	font-weight: bold;
}
.stick-to-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}