button.format-selector {
	margin-top: 20px;
}
div.format-selection-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}
div#logged-in-c {
	padding-bottom: 500px;
}
div.step-c {
	margin-top: 20px;
}
h1 {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 10px;
}
h3 {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 10px;
}
p.format-description {
	font-size: 90%;
}
p.format-documentation-header {
	font-size: 90%;
	font-weight: bold;
	margin: 10px 0 0 0;
}
p.step-label {
	font-weight: bold;
}
span#metadata-geo-lookup-status {
	font-size: 90%;
}
.stick-to-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}
ul.format-documentation-links {
	font-size: 90%;
	margin: 0 10px 10px 10px;
}
ul#errored-field-list {
	margin-left: 3em;
	margin-top: 1em;
	list-style-type: circle;
	padding-left: 0;
}