div#login_checking,
div#login_warning {
    padding-bottom: 200px;
}
div#login_warning {
    display: none;
}
div#login_checking,
div#login_warning {
    margin-top: 50px;
}
div#main_content {
    display: none;
    margin-top: 45px;
}
label.control-label {
    margin: 8px 0 0 0;
}

img#checking_indicator,
img#submit_wait_indicator {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}