div#sidebar {
    border-left: 1px solid rgb(150,150,150);
}
div#conference_banner {
    margin-bottom: 50px;
}
/* provides separation without hr when there are two workshops back to back on the same day */
div.first_of_two {
    margin-bottom: 20px;
}
div.schedule_column_2 {
    border-left: 1px solid rgb(150,150,150);
}
h2 {
    font-size: 140%;
    color: black;
    font-weight: bold;
    margin: 0 0 20px 0;
}
img.session_image {
    border: 1px solid rgb(150,150,150);
    margin-left: 10px;
}
ul.session_actions {
    margin: 15px 0 0 10px;
    padding: 0;
    list-style: none;
}
